Repository Autodesk/synthesis, pull requests merged in 2019-06, with the labels that each got.

#284 Fixed Inventor Field Exporter not being able to set component properties.
  exporters/BxDFieldExporter/BxDFieldExporter/StandardAddInServer.cs
Labels: bug, exporter

#286 Support CAN 0-63 and PWM 0-19
  exporters/Aardvark-Libraries/SimulatorFileIO/Joints/Driver/JointDriverType.cs
  exporters/BxDRobotExporter/BxDRobotExporter.sln
  exporters/BxDRobotExporter/BxDRobotExporter/BxDRobotExporter/BxDRobotExporter.csproj
  exporters/BxDRobotExporter/BxDRobotExporter/BxDRobotExporter/BxDRobotExporter.csproj.user
  exporters/BxDRobotExporter/BxDRobotExporter/BxDRobotExporter/Wizard/Components/DefinePartPanel.cs
  exporters/BxDRobotExporter/robot_exporter/JointResolver/EditorsLibrary/DriveChooser.cs
Labels: bug, enhancement, exporter

#285 Fixed the back button sending you too the main menu.
  engine/unity5/Assembly-CSharp-Editor.csproj
  engine/unity5/Assembly-CSharp-firstpass.csproj
  engine/unity5/Assembly-CSharp.csproj
  engine/unity5/Assets/DataPrivacy/Editor/CreateDataPrivacyButtonMenuItem.cs
  engine/unity5/Assets/DataPrivacy/Editor/CreateDataPrivacyButtonMenuItem.cs.meta
  engine/unity5/Assets/DataPrivacy/Runtime/DataPrivacy.cs
  engine/unity5/Assets/DataPrivacy/Runtime/DataPrivacy.cs.meta
  engine/unity5/Assets/DataPrivacy/Runtime/DataPrivacyButton.cs
  engine/unity5/Assets/DataPrivacy/Runtime/DataPrivacyButton.cs.meta
  engine/unity5/Assets/DataPrivacy/Runtime/DataPrivacyUtils.cs
  engine/unity5/Assets/DataPrivacy/Runtime/DataPrivacyUtils.cs.meta
  engine/unity5/Assets/DataPrivacy/Runtime/DataPrivacyUtilsLegacy.cs
  engine/unity5/Assets/DataPrivacy/Runtime/DataPrivacyUtilsLegacy.cs.meta
  engine/unity5/Assets/DataPrivacy/Runtime/Legacy/SimpleJson.cs
  engine/unity5/Assets/DataPrivacy/Runtime/Legacy/SimpleJson.cs.meta
  engine/unity5/Assets/Packages/Newtonsoft.Json.12.0.2.meta
  engine/unity5/Assets/Packages/Newtonsoft.Json.12.0.2/lib.meta
  engine/unity5/Assets/Packages/Newtonsoft.Json.12.0.2/lib/net35.meta
  engine/unity5/Assets/Packages/Newtonsoft.Json.12.0.2/lib/net35/Newtonsoft.Json.dll.meta
  engine/unity5/Assets/Packages/SSH.NET.2016.1.0/lib/net35.meta
  engine/unity5/Assets/Packages/SSH.NET.2016.1.0/lib/net35/Renci.SshNet.dll.meta
  engine/unity5/Assets/Scripts/GUI/MainMenu.cs
  engine/unity5/Assets/Scripts/States/ErrorScreenState.cs
  engine/unity5/Assets/Scripts/States/OptionsTabState.cs
  engine/unity5/unity5.sln
Labels: bug, engine

#287 Game piece controls disappearing from the controls menu
  engine/unity5/Assets/Scripts/Input/Controls.cs
Labels: bug, engine

#291 Enabled fancy colors by default
  exporters/BxDRobotExporter/BxDRobotExporter/BxDRobotExporter/Properties/Settings.Designer.cs
  exporters/BxDRobotExporter/BxDRobotExporter/BxDRobotExporter/Properties/Settings.settings
  exporters/BxDRobotExporter/BxDRobotExporter/BxDRobotExporter/app.config
  exporters/BxDRobotExporter/robot_exporter/JointResolver/EditorsLibrary/ExporterSettingsForm.cs
Labels: enhancement, exporter
