Repository Autodesk/synthesis, pull requests merged in 2019-07, with the labels that each got.

#318 Add support for setting REV Spark MAX output over CAN
  emulation/hel/CMakeLists.txt
  emulation/hel/include/can_device.hpp
  emulation/hel/include/can_motor_controller.hpp
  emulation/hel/include/error.hpp
  emulation/hel/include/pcm.hpp
  emulation/hel/include/pdp.hpp
  emulation/hel/include/roborio.hpp
  emulation/hel/include/robot_mode.hpp
  emulation/hel/include/send_data.hpp
  emulation/hel/run_vm.sh
  emulation/hel/src/can_comm.cpp
  emulation/hel/src/can_device.cpp
  emulation/hel/src/can_motor_controller.cpp
  emulation/hel/src/digital_system.cpp
  emulation/hel/src/encoder_manager.cpp
  emulation/hel/src/error.cpp
  emulation/hel/src/interrupt_manager.cpp
  emulation/hel/src/json_util.cpp
  emulation/hel/src/pcm.cpp
  emulation/hel/src/pdp.cpp
  emulation/hel/src/robot_mode.cpp
  emulation/hel/src/send_data.cpp
  emulation/hel/src/spi_system.cpp
  emulation/hel/src/sync_client.cpp
  emulation/hel/src/sync_server.cpp
  emulation/hel/src/system.cpp
  emulation/hel/src/system_interface.cpp
  emulation/hel/tests/can_test.cpp
Labels: emulator

#335 Revert "663 field exporter front"
  engine/unity5/Assembly-CSharp-Editor.csproj
  engine/unity5/Assembly-CSharp-firstpass.csproj
  engine/unity5/Assembly-CSharp.csproj
  engine/unity5/Assets/MainMenu.unity
  engine/unity5/Assets/NuGet/Editor/DotNetZip.dll.meta
  engine/unity5/Assets/NuGet/Editor/NuGetForUnity.dll.meta
  engine/unity5/Assets/Packages/Newtonsoft.Json.12.0.2/lib/net35.meta
  engine/unity5/Assets/Packages/Newtonsoft.Json.12.0.2/lib/net35/Newtonsoft.Json.dll.meta
  engine/unity5/Assets/Packages/Newtonsoft.Json.12.0.2/lib/net35/Newtonsoft.Json.xml
  engine/unity5/Assets/Packages/Newtonsoft.Json.12.0.2/lib/net35/Newtonsoft.Json.xml.meta
  engine/unity5/Assets/Packages/SSH.NET.2016.1.0/lib/net35.meta
  engine/unity5/Assets/Packages/SSH.NET.2016.1.0/lib/net40/Renci.SshNet.dll.meta
  engine/unity5/Assets/Resources/Prefabs/NetworkElement.prefab
  engine/unity5/Assets/Scripts/DLLS.meta
  engine/unity5/Assets/Scripts/DLLS/SimulatorAPI.dll.meta
  engine/unity5/Assets/Scripts/DLLS/SimulatorAPI.pdb.meta
  engine/unity5/Assets/Scripts/Field/UnityFieldDefinition.cs
  engine/unity5/Assets/Scripts/GUI/Scrollables/SelectScrollable.cs
  engine/unity5/Assets/Scripts/GUI/SynthesisFileBrowser.cs
  engine/unity5/Assets/Scripts/Network/MatchManager.cs
  engine/unity5/Assets/Scripts/SimulatorAPI.dll
  engine/unity5/Assets/Scripts/States/MainState.cs
  engine/unity5/Assets/Scripts/Utils/BXDExtensions.cs
  engine/unity5/Assets/SimulatorAPI.dll.mdb
  engine/unity5/ProjectSettings/ProjectVersion.txt
  engine/unity5/ProjectSettings/VFXManager.asset
  engine/unity5/unity5.sln
  exporters/Aardvark-Libraries/SimulatorFileIO/IO/BXDF/BXDFPropertiesJson.cs
  exporters/Aardvark-Libraries/SimulatorFileIO/ModelTree/FieldDefinition.cs
  exporters/Aardvark-Libraries/SimulatorFileIO/ModelTree/FieldNodeGroup.cs
  exporters/Aardvark-Libraries/SimulatorFileIO/ModelTree/PropertySet.cs
  exporters/Aardvark-Libraries/SimulatorFileIO/SimulatorAPI.csproj
  exporters/field_exporter/FieldExporter.sln
  exporters/field_exporter/FieldExporter/Components/ExportForm.cs
  exporters/field_exporter/FieldExporter/Components/FieldMetaForm.cs
  exporters/field_exporter/FieldExporter/Exporter/FieldProperties.cs
  exporters/field_exporter/FieldExporter/Forms/MainWindow.Designer.cs
  exporters/field_exporter/FieldExporter/Forms/MainWindow.cs
  exporters/field_exporter/FieldExporter/Forms/MainWindow.resx
  exporters/field_exporter/FieldExporterTests/FieldExporterTests.csproj
  exporters/field_exporter/FieldExporterTests/JsonTests.cs
Labels: engine, exporter

#332 Update unit tests
  emulation/hel/CMakeLists.txt
  emulation/hel/include/bounds_checked_array.hpp
  emulation/hel/include/can_device.hpp
  emulation/hel/include/can_motor_controller.hpp
  emulation/hel/include/pcm.hpp
  emulation/hel/include/pdp.hpp
  emulation/hel/include/pwm_system.hpp
  emulation/hel/include/robot_mode.hpp
  emulation/hel/include/util.hpp
  emulation/hel/scripts/deploy_libraries.sh
  emulation/hel/scripts/test.sh
  emulation/hel/src/analog_input.cpp
  emulation/hel/src/can_comm.cpp
  emulation/hel/src/can_motor_controller.cpp
  emulation/hel/src/digital_system.cpp
  emulation/hel/src/error.cpp
  emulation/hel/src/global.cpp
  emulation/hel/src/net_comm.cpp
  emulation/hel/src/pcm.cpp
  emulation/hel/src/pdp.cpp
  emulation/hel/src/pwm_system.cpp
  emulation/hel/src/robot_mode.cpp
  emulation/hel/src/send_data.cpp
  emulation/hel/tests/accelerometer_test.cpp
  emulation/hel/tests/bounds_checked_array_test.cpp
  emulation/hel/tests/can_test.cpp
  emulation/hel/tests/digital_systems_test.cpp
  emulation/hel/tests/encoder_test.cpp
  emulation/hel/tests/json_util_test.cpp
  emulation/hel/tests/pwm_test.cpp
  emulation/hel/tests/receive_data_test.cpp
  emulation/hel/tests/send_data_test.cpp
  emulation/hel/tests/testing.hpp
  emulation/hel/tests/util_test.cpp
Labels: emulator

#334 Add preview icons to Fusion Joint Editor
  exporters/FusionExporter/Source/AddIn/CustomHandlers.cpp
  exporters/FusionExporter/Source/AddIn/EUI-UIManagement.cpp
  exporters/FusionExporter/Source/AddIn/EUI.cpp
  exporters/FusionExporter/Source/AddIn/EUI.h
  exporters/FusionExporter/Source/Data/BXDJ/ConfigData.cpp
  exporters/FusionExporter/Source/Data/BXDJ/ConfigData.h
  exporters/FusionExporter/palette/export.html
  exporters/FusionExporter/palette/js/export.js
Labels: exporter

#338 Add Fusion DOF viewer
  exporters/FusionExporter/Source/AddIn/CustomHandlers.cpp
  exporters/FusionExporter/Source/AddIn/EUI-UIManagement.cpp
  exporters/FusionExporter/Source/AddIn/EUI.cpp
  exporters/FusionExporter/Source/AddIn/EUI.h
Labels: exporter

#342 Fix Inventor joint editor collapse on focus change
  exporters/BxDRobotExporter/BxDRobotExporter/BxDRobotExporter/JointEditor/JointForm.cs
Labels: exporter

#343 Fixed Perjoint Weight Saving
  exporters/Aardvark-Libraries/SimulatorFileIO/Joints/SkeletalJoint_Base.cs
  exporters/BxDRobotExporter/robot_exporter/JointResolver/ControlGUI/SynthesisGUI.cs
Labels: exporter

#349 Made File Path Casing Consistent
  engine/unity5/Assets/Scripts/GUI/MainMenu.cs
  engine/unity5/Assets/Scripts/GUI/Scrollables/ChangeFieldScrollable.cs
  engine/unity5/Assets/Scripts/GUI/Scrollables/ChangeRobotScrollable.cs
  engine/unity5/Assets/Scripts/States/BrowseFieldState.cs
  engine/unity5/Assets/Scripts/States/BrowseRobotState.cs
  engine/unity5/Assets/Scripts/States/LoadFieldState.cs
  engine/unity5/Assets/Scripts/States/LoadRobotState.cs
Labels: engine

#350 Google Analytics for Engine
  engine/unity5/Assets/Scripts/Analytics/AnalyticsLedger.cs
  engine/unity5/Assets/Scripts/Analytics/AnalyticsManager.cs
  engine/unity5/Assets/Scripts/DriverPractice/GoalManager.cs
  engine/unity5/Assets/Scripts/DriverPractice/TrajectoryEditor.cs
  engine/unity5/Assets/Scripts/GUI/EmulationDriverStation.cs
  engine/unity5/Assets/Scripts/GUI/MainMenu.cs
  engine/unity5/Assets/Scripts/GUI/NetworkMultiplayerUI.cs
  engine/unity5/Assets/Scripts/GUI/SimUI.cs
  engine/unity5/Assets/Scripts/GUI/ToolbarStates/DPMToolbarState.cs
  engine/unity5/Assets/Scripts/GUI/ToolbarStates/EmulationToolbarState.cs
  engine/unity5/Assets/Scripts/GUI/ToolbarStates/MainToolbarState.cs
  engine/unity5/Assets/Scripts/GUI/ToolbarStates/ScoringToolbarState.cs
  engine/unity5/Assets/Scripts/GUI/ToolbarStates/SensorToolbarState.cs
  engine/unity5/Assets/Scripts/GUI/Toolkit.cs
  engine/unity5/Assets/Scripts/LocalMultiplayer.cs
  engine/unity5/Assets/Scripts/MixAndMatch/MixAndMatchMode.cs
  engine/unity5/Assets/Scripts/Robot/SimulatorRobot.cs
  engine/unity5/Assets/Scripts/Sensors/SensorManagerGUI.cs
  engine/unity5/Assets/Scripts/States/DefaultSimulatorState.cs
  engine/unity5/Assets/Scripts/States/LoadFieldState.cs
  engine/unity5/Assets/Scripts/States/LoadReplayState.cs
  engine/unity5/Assets/Scripts/States/LobbyState.cs
  engine/unity5/Assets/Scripts/States/MainState.cs
  engine/unity5/Assets/Scripts/States/MixAndMatchState.cs
  engine/unity5/Assets/Scripts/States/ReplayState.cs
  engine/unity5/Assets/Scripts/States/SaveReplayState.cs
  engine/unity5/Assets/Scripts/States/SelectionState.cs
Labels: analytics, engine

#347 Add Drive Train Type to Fusion UI
  exporters/FusionExporter/Source/AddIn/CustomHandlers.cpp
  exporters/FusionExporter/Source/AddIn/EUI-UIManagement.cpp
  exporters/FusionExporter/Source/AddIn/EUI.h
  exporters/FusionExporter/Source/AddIn/Identifiers.h
  exporters/FusionExporter/palette/drivetrain.html
  exporters/FusionExporter/palette/resources/drivetrain.jpg
Labels: exporter

#355 Automatically open the Robot Export Guide when first entering workspace
  exporters/FusionExporter/Source/AddIn/CustomHandlers.cpp
  exporters/FusionExporter/Source/Data/BXDJ/ConfigData.cpp
  exporters/FusionExporter/Source/Data/BXDJ/ConfigData.h
  exporters/FusionExporter/palette/drivetrain.html
  exporters/FusionExporter/palette/js/drivetrain.js
  exporters/FusionExporter/palette/resources/overlay.png
Labels: exporter

#353 Decrease Inventor joint editor loading time
  exporters/BxDRobotExporter/BxDRobotExporter/BxDRobotExporter/JointEditor/JointCard.Designer.cs
  exporters/BxDRobotExporter/BxDRobotExporter/BxDRobotExporter/JointEditor/JointCard.cs
  exporters/BxDRobotExporter/BxDRobotExporter/BxDRobotExporter/JointEditor/JointForm.cs
  exporters/BxDRobotExporter/BxDRobotExporter/BxDRobotExporter/StandardAddInServer.cs
Labels: exporter

#357 Added safe threading and better batch sending
  engine/unity5/Assets/Scripts/Analytics/AnalyticsManager.cs
Labels: analytics, bug, engine

#359 JSON Robot Reading in Engine
  engine/unity5/Assets/MainMenu.unity
  engine/unity5/Assets/Scripts/GUI/Scrollables/ChangeRobotScrollable.cs
  engine/unity5/Assets/Scripts/GUI/Scrollables/SelectScrollable.cs
  engine/unity5/Assets/Scripts/RN/RNJoint.cs
  engine/unity5/Assets/Scripts/Robot/RobotBase.cs
  engine/unity5/Assets/Scripts/SimulatorAPI.dll
Labels: engine

#331 Fusion drivetrain weight UI
  exporters/FusionExporter/FusionSynth.vcxproj
  exporters/FusionExporter/FusionSynth.vcxproj.filters
  exporters/FusionExporter/Source/AddIn/CustomHandlers.cpp
  exporters/FusionExporter/Source/AddIn/EUI-UIManagement.cpp
  exporters/FusionExporter/Source/AddIn/EUI.cpp
  exporters/FusionExporter/Source/AddIn/EUI.h
  exporters/FusionExporter/Source/AddIn/Identifiers.h
  exporters/FusionExporter/Source/Data/BXDJ/ConfigData.cpp
  exporters/FusionExporter/Source/Data/BXDJ/ConfigData.h
  exporters/FusionExporter/Source/Data/BXDJ/RigidNode.h
  exporters/FusionExporter/palette/dt_weight.html
  exporters/FusionExporter/palette/js/dt_weight.js
Labels: exporter

#363 Updated tracking ID
  engine/unity5/Assets/Scripts/Analytics/AnalyticsManager.cs
Labels: analytics, engine

#356 Created new setting TrackAnalytics and made brief survey with prompt
  exporters/Aardvark-Libraries/MIConvexHull/MIConvexHull.csproj
  exporters/Aardvark-Libraries/SimulatorFileIO/SimulatorAPI.csproj
  exporters/Aardvark-Libraries/SimulatorFileIO/packages.config
  exporters/BxDRobotExporter/BxDRobotExporter/BxDRobotExporter/BxDRobotExporter.csproj
  exporters/BxDRobotExporter/BxDRobotExporter/BxDRobotExporter/Messages/FirstLaunchInfo.Designer.cs
  exporters/BxDRobotExporter/BxDRobotExporter/BxDRobotExporter/Messages/FirstLaunchInfo.cs
  exporters/BxDRobotExporter/BxDRobotExporter/BxDRobotExporter/Properties/Settings.Designer.cs
  exporters/BxDRobotExporter/BxDRobotExporter/BxDRobotExporter/Properties/Settings.settings
  exporters/BxDRobotExporter/BxDRobotExporter/BxDRobotExporter/app.config
  exporters/BxDRobotExporter/RobotExporterTests/RobotExporterTests.csproj
Labels: exporter

#364 Engine scene fixes
  engine/unity5/Assets/Resources/Images/New Textures/greenButton.png
  engine/unity5/Assets/Scene.unity
  engine/unity5/Assets/Scripts/Field/FieldDataHandler.cs
  engine/unity5/Assets/Scripts/GUI/MainMenu.cs
  engine/unity5/Assets/Scripts/GUI/SimUI.cs
  engine/unity5/Assets/Scripts/RN/RNJoint.cs
  engine/unity5/Assets/Scripts/States/MainState.cs
Labels: engine

#362 Inventor UI QOL improvements
  exporters/BxDRobotExporter/BxDRobotExporter/BxDRobotExporter/InventorUtils.cs
  exporters/BxDRobotExporter/BxDRobotExporter/BxDRobotExporter/JointEditor/JointCard.cs
  exporters/BxDRobotExporter/BxDRobotExporter/BxDRobotExporter/JointEditor/JointForm.cs
  exporters/BxDRobotExporter/BxDRobotExporter/BxDRobotExporter/StandardAddInServer.cs
  exporters/BxDRobotExporter/BxDRobotExporter/BxDRobotExporter/Utilities.cs
  exporters/BxDRobotExporter/robot_exporter/JointResolver/EditorsLibrary/JointEditorPane.cs
Labels: inventor

#365 Disabled JSON
  exporters/BxDRobotExporter/robot_exporter/JointResolver/ControlGUI/SynthesisGUI.cs
Labels: inventor

#366 Inventor analytics
  exporters/Aardvark-Libraries/MIConvexHull/MIConvexHull.csproj
  exporters/Aardvark-Libraries/SimulatorFileIO/SimulatorAPI.csproj
  exporters/Aardvark-Libraries/SimulatorFileIO/packages.config
  exporters/BxDRobotExporter/BxDRobotExporter/BxDRobotExporter/BxDRobotExporter.csproj
  exporters/BxDRobotExporter/BxDRobotExporter/BxDRobotExporter/JointEditor/JointCard.cs
  exporters/BxDRobotExporter/BxDRobotExporter/BxDRobotExporter/JointEditor/JointCardEditor.cs
  exporters/BxDRobotExporter/BxDRobotExporter/BxDRobotExporter/JointEditor/JointForm.cs
  exporters/BxDRobotExporter/BxDRobotExporter/BxDRobotExporter/Messages/FirstLaunchInfo.Designer.cs
  exporters/BxDRobotExporter/BxDRobotExporter/BxDRobotExporter/Messages/FirstLaunchInfo.cs
  exporters/BxDRobotExporter/BxDRobotExporter/BxDRobotExporter/Properties/Settings.Designer.cs
  exporters/BxDRobotExporter/BxDRobotExporter/BxDRobotExporter/Properties/Settings.settings
  exporters/BxDRobotExporter/BxDRobotExporter/BxDRobotExporter/StandardAddInServer.cs
  exporters/BxDRobotExporter/BxDRobotExporter/BxDRobotExporter/Utilities.cs
  exporters/BxDRobotExporter/BxDRobotExporter/BxDRobotExporter/app.config
  exporters/BxDRobotExporter/RobotExporterTests/RobotExporterTests.csproj
  exporters/BxDRobotExporter/robot_exporter/JointResolver/AnalyticUtils.cs
  exporters/BxDRobotExporter/robot_exporter/JointResolver/ControlGUI/ExportRobotForm.cs
  exporters/BxDRobotExporter/robot_exporter/JointResolver/EditorsLibrary/DriveTrainTypeForm.cs
  exporters/BxDRobotExporter/robot_exporter/JointResolver/EditorsLibrary/EditLimits.Designer.cs
  exporters/BxDRobotExporter/robot_exporter/JointResolver/EditorsLibrary/EditLimits.cs
  exporters/BxDRobotExporter/robot_exporter/JointResolver/EditorsLibrary/EditSensorForm.cs
  exporters/BxDRobotExporter/robot_exporter/JointResolver/EditorsLibrary/ExporterSettingsForm.Designer.cs
  exporters/BxDRobotExporter/robot_exporter/JointResolver/EditorsLibrary/ExporterSettingsForm.cs
  exporters/BxDRobotExporter/robot_exporter/JointResolver/EditorsLibrary/SensorListForm.cs
  exporters/BxDRobotExporter/robot_exporter/JointResolver/EditorsLibrary/SetWeightForm.cs
  exporters/BxDRobotExporter/robot_exporter/JointResolver/RobotExportAPI.csproj
Labels: inventor

#368 Improve the Emulation UI
  engine/unity5/Assembly-CSharp-Editor.csproj
  engine/unity5/Assembly-CSharp-firstpass.csproj
  engine/unity5/Assembly-CSharp.csproj
  engine/unity5/Assets/Scene.unity
  engine/unity5/Assets/Scripts/Emulation/EmulationWarnings.cs
  engine/unity5/Assets/Scripts/Emulation/EmulationWarnings.cs.meta
  engine/unity5/Assets/Scripts/GUI/EmulationDriverStation.cs
  engine/unity5/Assets/Scripts/GUI/ToolbarStates/EmulationToolbarState.cs
Labels: emulator

#361 Add DOF Color Key
  exporters/FusionExporter/Source/AddIn/CustomHandlers.cpp
  exporters/FusionExporter/Source/AddIn/EUI-UIManagement.cpp
  exporters/FusionExporter/Source/AddIn/EUI.cpp
  exporters/FusionExporter/Source/AddIn/EUI.h
  exporters/FusionExporter/Source/AddIn/Identifiers.h
  exporters/FusionExporter/Source/Data/BXDJ/ConfigData.cpp
  exporters/FusionExporter/Source/Data/BXDJ/ConfigData.h
  exporters/FusionExporter/palette/dofkey.html
Labels: fusion, post-snapshot

#370 Fix "Undo" crash
  exporters/BxDRobotExporter/BxDRobotExporter/BxDRobotExporter/StandardAddInServer.cs
Labels: bug, inventor

#375 Fixed Fusion Data Flow
  exporters/FusionExporter/Source/AddIn/EUI.cpp
  exporters/FusionExporter/palette/js/jointEditor.js
Labels: fusion, post-snapshot

#371 Fixed tab highlighting and added custom impulses panel
  engine/unity5/Assets/Resources/Images/New Icons/PointImpulse.png
  engine/unity5/Assets/Resources/Images/New Icons/PointImpulse.png.meta
  engine/unity5/Assets/Scene.unity
  engine/unity5/Assets/Scripts/Analytics/AnalyticsManager.cs
  engine/unity5/Assets/Scripts/Configuration/MoveArrows.cs
  engine/unity5/Assets/Scripts/DriverPractice/TrajectoryEditor.cs
  engine/unity5/Assets/Scripts/FEA/ReplayExporter.cs
  engine/unity5/Assets/Scripts/GUI/SimUI.cs
  engine/unity5/Assets/Scripts/GUI/ToolbarStates/MainToolbarState.cs
  engine/unity5/Assets/Scripts/States/SettingsState.cs
  engine/unity5/ProjectSettings/ProjectSettings.asset
  engine/unity5/unity5.sln
Labels: engine, enhancement, post-snapshot

#372 Fixed JSON exporting
  exporters/BxDRobotExporter/BxDRobotExporter/ControlGUI/DepricatedStandaloneGUI.cs
Labels: inventor

#374 Fixed no dozer failsafe
  engine/unity5/Assets/ErrorScene.unity
  engine/unity5/Assets/Scripts/GUI/ErrorMenu.cs
  engine/unity5/Assets/Scripts/GUI/Scrollables/SelectScrollable.cs
  engine/unity5/Assets/Scripts/GUI/SimUI.cs
  engine/unity5/Assets/Scripts/States/BrowseFileState.cs
  engine/unity5/Assets/Scripts/States/ErrorScreenState.cs
  engine/unity5/Assets/Scripts/States/LoadRobotState.cs
  engine/unity5/Assets/Scripts/States/MainState.cs
  engine/unity5/Assets/Scripts/Utils/AppModel.cs
Labels: bug, engine

#380 Custom node weights from json bots
  engine/unity5/Assets/Scripts/RN/RNMesh.cs
Labels: engine, enhancement

#379 Update loading screen and error screen UI
  engine/unity5/Assets/ErrorScene.unity
  engine/unity5/Assets/Scene.unity
  engine/unity5/Assets/Scripts/GUI/SimUI.cs
  engine/unity5/ProjectSettings/ProjectSettings.asset
Labels: engine

#393 Osx install
  installer/osx/.gitignore
  installer/osx/README.md
  installer/osx/application/.gitkeep
  installer/osx/application/background.png
  installer/osx/application/spec.json
  installer/osx/build-macos-x64.sh
  installer/osx/darwin/Distribution
  installer/osx/darwin/Resources/banner.png
  installer/osx/darwin/Resources/conclusion.html
  installer/osx/darwin/Resources/license.html
  installer/osx/darwin/Resources/uninstall.sh
  installer/osx/darwin/Resources/welcome.html
  installer/osx/darwin/scripts/postinstall
  installer/osx/utils/ascii_art.txt
Labels: installer

#390 Fusion-style splash screen
  engine/unity5/Assets/Resources/Images/New Textures/LockupFlat.png
  engine/unity5/Assets/Resources/Images/New Textures/LockupFlat.png.meta
  engine/unity5/ProjectSettings/ProjectSettings.asset
Labels: engine

#395 Add success dialog
  exporters/InventorRobotExporter/InventorRobotExporter/GUI/Editors/DrivetrainLayoutForm.Designer.cs
  exporters/InventorRobotExporter/InventorRobotExporter/GUI/Editors/DrivetrainLayoutForm.cs
  exporters/InventorRobotExporter/InventorRobotExporter/GUI/Editors/DrivetrainLayoutForm.resx
  exporters/InventorRobotExporter/InventorRobotExporter/GUI/Messages/ExportSuccessful.Designer.cs
  exporters/InventorRobotExporter/InventorRobotExporter/GUI/Messages/ExportSuccessful.cs
  exporters/InventorRobotExporter/InventorRobotExporter/GUI/Messages/ExportSuccessful.resx
  exporters/InventorRobotExporter/InventorRobotExporter/InventorRobotExporter.csproj
  exporters/InventorRobotExporter/InventorRobotExporter/Managers/RobotDataManager.cs
  exporters/InventorRobotExporter/InventorRobotExporter/Resources/Branding/SynthesisLogoIco.ico
  exporters/InventorRobotExporter/InventorRobotExporter/RobotExporterAddInServer.cs
Labels: inventor

#384 Added missing MaM directory failsafe
  engine/unity5/Assets/ErrorScene.unity
  engine/unity5/Assets/Scripts/GUI/SimUI.cs
  engine/unity5/Assets/Scripts/States/ErrorScreenState.cs
  engine/unity5/Assets/Scripts/States/MainState.cs
Labels: bug, engine

#389 Fixed visibility of text on selectables
  engine/unity5/Assets/Scripts/GUI/Scrollables/ScrollablePanel.cs
Labels: bug, engine

#392 Environment layout changes
  exporters/InventorRobotExporter/InventorRobotExporter/GUI/Editors/ExporterSettingsForm.Designer.cs
  exporters/InventorRobotExporter/InventorRobotExporter/GUI/Editors/ExporterSettingsForm.cs
  exporters/InventorRobotExporter/InventorRobotExporter/GUI/Guide/Guide.html
  exporters/InventorRobotExporter/InventorRobotExporter/GUI/Guide/GuideManager.cs
  exporters/InventorRobotExporter/InventorRobotExporter/GUI/JointView/JointViewKey.html
  exporters/InventorRobotExporter/InventorRobotExporter/GUI/JointView/JointViewKeyManager.cs
  exporters/InventorRobotExporter/InventorRobotExporter/GUI/JointView/JointViewKeyPane.Designer.cs
  exporters/InventorRobotExporter/InventorRobotExporter/GUI/JointView/JointViewKeyPane.cs
  exporters/InventorRobotExporter/InventorRobotExporter/GUI/JointView/JointViewKeyPane.resx
  exporters/InventorRobotExporter/InventorRobotExporter/InventorRobotExporter.csproj
  exporters/InventorRobotExporter/InventorRobotExporter/Managers/AddInSettingsManager.cs
  exporters/InventorRobotExporter/InventorRobotExporter/Managers/HighlightManager.cs
  exporters/InventorRobotExporter/InventorRobotExporter/Properties/Resources.resx
  exporters/InventorRobotExporter/InventorRobotExporter/Properties/Settings.Designer.cs
  exporters/InventorRobotExporter/InventorRobotExporter/Properties/Settings.settings
  exporters/InventorRobotExporter/InventorRobotExporter/RobotExporterAddInServer.cs
Labels: inventor
