Repository Autodesk/synthesis, pull requests merged in 2019-11, with the labels that each got.

#473 Increased palette heights to fit new standard Fusion window sizes
  exporters/FusionRobotExporter/Source/AddIn/EUI.h
Labels: fusion

#474 Master Bug with Global Controls
  engine/Assets/Scripts/GUI/MenuUI.cs
Labels: bug, engine

#475 Made a quick fix to the ruler
  engine/Assets/Scripts/GUI/Toolkit.cs
Labels: bug, engine

#476 Added a scrolling feature to GodMode
  engine/Assets/Scripts/GodMode.cs
Labels: engine, enhancement
