Repository Autodesk/synthesis, pull requests merged in 2020-07, with the labels that each got.

#557 525 event bus
  controller/Api/Api.csproj
  controller/Api/EventBus/EventBus.cs
  controller/Api/EventBus/IEvent.cs
  controller/Api/Utilities/ParamsHelper.cs
  controller/TestApi/TestApi.csproj
  controller/TestApi/TestEventBus.cs
Labels: api

#553 Added async alternatives for Save & Load preferences
  controller/Api/PreferenceManager/PreferenceManager.cs
  controller/TestApi/TestPreferenceManager.cs
Labels: api

#564 Improve the Asset Manager
  controller/Api/Api.csproj
  controller/Api/Api.sln
  controller/Api/AssetManager/Asset.cs
  controller/Api/AssetManager/AssetImportEvent.cs
  controller/Api/AssetManager/AssetManager.cs
  controller/Api/AssetManager/DummyAssetTypes.cs
  controller/Api/AssetManager/JsonAsset.cs
  controller/Api/VirtualFileSystem/Directory.cs
  controller/Api/VirtualFileSystem/DirectroyExpection.cs
  controller/Api/VirtualFileSystem/ExposedApi.cs
  controller/Api/VirtualFileSystem/FileSystem.cs
  controller/Api/VirtualFileSystem/IEntry.cs
  controller/Api/VirtualFileSystem/Permissions.cs
  controller/BenchmarkApi/App.config
  controller/BenchmarkApi/BenchmarkApi.csproj
  controller/BenchmarkApi/BenchmarkVirtualFileSystem.cs
  controller/BenchmarkApi/Program.cs
  controller/BenchmarkApi/Properties/AssemblyInfo.cs
  controller/BenchmarkApi/packages.config
  controller/TestApi/TestApi.csproj
  controller/TestApi/TestAssetManager.cs
  controller/TestApi/TestJsonObject.cs
  controller/TestApi/TestVirtualFileSystem.cs
  controller/TestApi/TestXmlObject.cs
  controller/TestApi/test_assets/test.xml
Labels: api, sprint

#566 Add push event method which takes multiple tags
  controller/Api/EventBus/EventBus.cs
  controller/Api/EventBus/IEvent.cs
  controller/TestApi/TestEventBus.cs
Labels: api

#569 Small Environment Manager refactor
  controller/Api/Api.csproj
  controller/Api/EnvironmentManager/EnvironmentManager.cs
  controller/Api/Utilities/AnyMap.cs
  controller/Api/VirtualFileSystem/ExposedApiAttribute.cs
Labels: api

#570 Add lazy assets
  controller/Api/Api.csproj
  controller/Api/AssetManager/Asset.cs
  controller/Api/AssetManager/AssetManager.cs
  controller/Api/AssetManager/DummyAssetTypes.cs
  controller/Api/AssetManager/LazyAsset.cs
  controller/Api/PreferenceManager/PreferenceManager.cs
  controller/Api/VirtualFileSystem/Directory.cs
  controller/Api/VirtualFileSystem/FileSystem.cs
  controller/BenchmarkApi/BenchmarkApi.csproj
  controller/BenchmarkApi/BenchmarkAssetManager.cs
  controller/BenchmarkApi/Program.cs
  controller/TestApi/TestAssetManager.cs
Labels: api

#571 Finish InputManager
  controller/Api/Api.csproj
  controller/Api/EnvironmentManager/SystemBase.cs
  controller/Api/InputManager/Axis/DeadAxis.cs
  controller/Api/InputManager/Axis/DualAxis.cs
  controller/Api/InputManager/Axis/IAxisInput.cs
  controller/Api/InputManager/Axis/JoystickAxis.cs
  controller/Api/InputManager/Axis/UnityAxis.cs
  controller/Api/InputManager/ControllerInfo.cs
  controller/Api/InputManager/Digital/ButtonDigital.cs
  controller/Api/InputManager/Digital/IDigitalInput.cs
  controller/Api/InputManager/Digital/KeyDigital.cs
  controller/Api/InputManager/DigitalState.cs
  controller/Api/InputManager/Events/ControllerStatusEvent.cs
  controller/Api/InputManager/Events/DigitalStateEvent.cs
  controller/Api/InputManager/InputManager.cs
  controller/Api/InputManager/InputSystem.cs
  controller/Api/PreferenceManager/PreferenceManager.cs
  controller/Api/PreferenceManager/PreferencesIOEvent.cs
  controller/Api/Utilities/BiDictionary.cs
  controller/Api/VirtualFileSystem/Directory.cs
  controller/TestApi/Program.cs
  controller/TestApi/TestAssetManager.cs
  controller/TestApi/TestPreferenceManager.cs
  engine/CoreEngine/Assets/Api.dll
  engine/CoreEngine/Assets/Scripts/Engine/CameraController.cs
  engine/CoreEngine/Assets/Scripts/Engine/Input.meta
  engine/CoreEngine/Assets/Scripts/Engine/Input/Axis.meta
  engine/CoreEngine/Assets/Scripts/Engine/Input/Axis/DeadAxis.cs.meta
  engine/CoreEngine/Assets/Scripts/Engine/Input/Axis/DualAxis.cs.meta
  engine/CoreEngine/Assets/Scripts/Engine/Input/Axis/IAxisInput.cs.meta
  engine/CoreEngine/Assets/Scripts/Engine/Input/Axis/JoystickAxis.cs.meta
  engine/CoreEngine/Assets/Scripts/Engine/Input/Axis/UnityAxis.cs.meta
  engine/CoreEngine/Assets/Scripts/Engine/Input/Digital.meta
  engine/CoreEngine/Assets/Scripts/Engine/Input/Digital/ButtonDigital.cs.meta
  engine/CoreEngine/Assets/Scripts/Engine/Input/Digital/IDigitalInput.cs.meta
  engine/CoreEngine/Assets/Scripts/Engine/Input/Digital/KeyDigital.cs.meta
  engine/CoreEngine/Assets/Scripts/Engine/Input/InputHandler.cs
  engine/CoreEngine/Assets/Scripts/Engine/Input/InputHandler.cs.meta
  engine/CoreEngine/Assets/Scripts/Engine/ModuleLoader/Api.cs
  engine/CoreEngine/Assets/Scripts/Engine/ModuleLoader/SystemMonoBehavior.cs
  engine/CoreEngine/Assets/Scripts/Engine/Simulator/SimulatorHandler.cs
  engine/CoreEngine/Assets/Scripts/Engine/UI/Style.meta
  engine/CoreEngine/Assets/Scripts/Engine/UI/Style/PanelStyle.cs
  engine/CoreEngine/Assets/Scripts/Engine/UI/Style/PanelStyle.cs.meta
  engine/CoreEngine/Assets/Scripts/Engine/UI/Style/Style.cs
  engine/CoreEngine/Assets/Scripts/Engine/UI/Style/Style.cs.meta
  engine/CoreEngine/Assets/Scripts/Engine/UI/Style/StyleHandler.cs
  engine/CoreEngine/Assets/Scripts/Engine/UI/Style/StyleHandler.cs.meta
  engine/CoreEngine/Assets/Scripts/Engine/UI/Style/StyledComponent.cs
  engine/CoreEngine/Assets/Scripts/Engine/UI/Style/StyledComponent.cs.meta
  engine/CoreEngine/Assets/Scripts/Engine/UI/Style/TextStyle.cs
  engine/CoreEngine/Assets/Scripts/Engine/UI/Style/TextStyle.cs.meta
  engine/CoreEngine/Assets/Scripts/Engine/Util/SynList.cs.meta
  engine/CoreEngine/Assets/Scripts/Testing/InputTest.cs
  engine/CoreEngine/Assets/Scripts/Testing/TestInput2.cs
  engine/CoreEngine/Assets/Scripts/Testing/TestInput2.cs.meta
  modules/Controller/SampleSystem.cs
Labels: api

#576 Create working unit tests for the module loader
  controller/Api/AssetManager/AssetManager.cs
  controller/Api/AssetManager/BinaryAsset.cs
  controller/Api/AssetManager/TextAsset.cs
  controller/Api/Modules/ModuleManager.cs
  engine/CoreEngine/Assets/Api.dll
  engine/CoreEngine/Assets/Scripts/Engine/ModuleLoader/Api.cs
  engine/CoreEngine/Assets/Scripts/Engine/UI/DefaultUI.cs
  engine/CoreEngine/Assets/Scripts/Engine/Util/DeflateStreamWrapper.cs
  engine/CoreEngine/Assets/Scripts/Engine/Util/DeflateStreamWrapper.cs.meta
  engine/CoreEngine/Assets/Tests/PlayMode/TestModuleLoader.cs
Labels: engine

#577 Create the MockApi
  controller/Api/Api.csproj
  controller/Api/AssetManager/AssetImportEvent.cs
  controller/Api/AssetManager/AssetManager.cs
  controller/Api/EventBus/IEvent.cs
  controller/Api/InputManager/InputManager.cs
  controller/Api/Modules/Attributes/TaggedCallbackAttribute.cs
  controller/Api/PreferenceManager/PreferencesIOEvent.cs
  controller/MockApi/Class1.cs
  controller/MockApi/MockApi.cs
  controller/MockApi/MockApi.csproj
  controller/TestApi/TestApi.csproj
  controller/TestApi/TestAssetManager.cs
  controller/TestApi/TestEnvironmentManager.cs
  controller/TestApi/TestEventBus.cs
  controller/TestApi/TestsSetupClass.cs
  engine/CoreEngine/Assets/Api.dll
  engine/CoreEngine/Assets/Scripts/Engine/ModuleLoader/Api.cs
  engine/CoreEngine/Assets/Scripts/Testing/TestInput2.cs
  modules/Controller/Controller.cs
  modules/Controller/SampleEvent.cs
  modules/Controller/SampleSystem.cs
Labels: api

#579 522 google analytics
  controller/Api/EventBus/Analytics.cs
  controller/TestApi/TestAnalytics.cs
Labels: api

#581 Update camera controller to use the event bus
  engine/Assets/Scripts/Engine/CameraController.cs
  engine/Assets/Tests/PlayMode/PlayMode.Tests.asmdef
Labels: engine

#582 Automatically delete files generated during unit tests
  api/TestApi/TestAssetManager.cs
  api/TestApi/test_assets/test.json
  api/TestApi/test_assets/test.txt
  api/TestApi/test_assets/test.xml
Labels: api

#584 Module loading cleanup
  api/Api/Modules/ModuleManager.cs
  api/Api/VirtualFileSystem/FileSystem.cs
  engine/Assets/Api.dll
  engine/Assets/Scripts/Engine/ModuleLoader/Api.cs
  engine/Assets/Scripts/Engine/ModuleLoader/ComponentAdapter.cs
  engine/Assets/Scripts/Engine/ModuleLoader/LoadModuleEvent.cs
  engine/Assets/Scripts/Engine/ModuleLoader/LoadModuleException.cs
  engine/Assets/Scripts/Engine/ModuleLoader/LoadModuleException.cs.meta
  engine/Assets/Scripts/Engine/ModuleLoader/ModuleMetadata.cs
  engine/Assets/Scripts/Engine/ModuleLoader/MultiMap.cs
  engine/Assets/Scripts/Engine/ModuleLoader/MultiMap.cs.meta
  modules/Controller/SampleSystem.cs
Labels: engine

#583 Initial Module CI Check
  .github/workflows/Modules.yml
Labels: api

#589 Env manager refactor
  api/Api/AssetManager/SpriteAsset.cs
  api/Api/EnvironmentManager/Components/Mesh.cs
  api/Api/EnvironmentManager/EnvironmentManager.cs
  api/Api/InputManager/Axis/DeadAxis.cs
  api/Api/InputManager/Axis/DualAxis.cs
  api/Api/InputManager/Axis/IAxisInput.cs
  api/Api/InputManager/Axis/JoystickAxis.cs
  api/Api/InputManager/Axis/UnityAxis.cs
  api/Api/InputManager/ControllerInfo.cs
  api/Api/InputManager/Digital/ButtonDigital.cs
  api/Api/InputManager/Digital/IDigitalInput.cs
  api/Api/InputManager/Digital/KeyDigital.cs
  api/Api/InputManager/DigitalState.cs
  api/Api/InputManager/Events/ControllerStatusEvent.cs
  api/Api/InputManager/Events/DigitalStateEvent.cs
  api/Api/InputManager/InputEvents.cs
  api/Api/InputManager/InputManager.cs
  api/Api/InputManager/InputSystem.cs
  api/Api/InputManager/Inputs.cs
  api/Api/Modules/ModuleManager.cs
  api/Api/Runtime/ApiProvider.cs
  api/Api/Runtime/IApiProvider.cs
  api/Api/Utilities/Vectors.cs
  api/Api/VirtualFileSystem/FileSystem.cs
  api/MockApi/MockApi.cs
  api/TestApi/TestEnvironmentManager.cs
  engine/Assets/Api.dll
  engine/Assets/Api.dll.meta
  engine/Assets/Scripts/Engine/CameraController.cs
  engine/Assets/Scripts/Engine/CameraController.cs.meta
  engine/Assets/Scripts/Engine/Interaction.meta
  engine/Assets/Scripts/Engine/Interaction/BlankSelectable.cs
  engine/Assets/Scripts/Engine/Interaction/ISelectable.cs
  engine/Assets/Scripts/Engine/Interaction/ISelectable.cs.meta
  engine/Assets/Scripts/Engine/ModuleLoader/Adapters.meta
  engine/Assets/Scripts/Engine/ModuleLoader/Adapters/Builtins.cs
  engine/Assets/Scripts/Engine/ModuleLoader/Adapters/Builtins.cs.meta
  engine/Assets/Scripts/Engine/ModuleLoader/Adapters/ComponentAdapter.cs
  engine/Assets/Scripts/Engine/ModuleLoader/Adapters/ComponentAdapter.cs.meta
  engine/Assets/Scripts/Engine/ModuleLoader/Adapters/IApiAdapter.cs
  engine/Assets/Scripts/Engine/ModuleLoader/Adapters/IApiAdapter.cs.meta
  engine/Assets/Scripts/Engine/ModuleLoader/Adapters/SystemMonoBehavior.cs
  engine/Assets/Scripts/Engine/ModuleLoader/Adapters/SystemMonoBehavior.cs.meta
  engine/Assets/Scripts/Engine/ModuleLoader/Api.cs
  engine/Assets/Scripts/Engine/ModuleLoader/Builtins.cs.meta
  engine/Assets/Scripts/Engine/ModuleLoader/ComponentAdapter.cs.meta
  engine/Assets/Scripts/Engine/ModuleLoader/IApiAdapter.cs.meta
  engine/Assets/Scripts/Engine/Simulator/Robot.cs
  engine/Assets/Scripts/Engine/Simulator/SimulatorHandler.cs
  engine/Assets/Scripts/Engine/Util/UnityHandler.cs
  engine/Assets/Scripts/Testing/TestInput2.cs
  modules/Controller/Controller.csproj
  modules/Controller/SampleSystem.cs
  modules/SynthesisCore/InputSystem.cs
  modules/SynthesisCore/SampleSystem.cs
  modules/SynthesisCore/SynthesisCore.cs
  modules/SynthesisCore/SynthesisCore.csproj
  modules/SynthesisCore/SynthesisCore.csproj.user
  modules/modules.sln
Labels: api

#591 Misc cleanup
  api/Api/AssetManager/AssetManager.cs
  api/Api/EnvironmentManager/Component.cs
  api/Api/EnvironmentManager/Components/Mesh.cs
  api/Api/EnvironmentManager/Components/Transform.cs
  api/Api/EnvironmentManager/Entity.cs
  api/Api/EnvironmentManager/EnvironmentManager.cs
  api/Api/EventBus/Analytics.cs
  api/Api/EventBus/EventBus.cs
  api/Api/Modules/Attributes/ComponentAttribute.cs
  api/Api/Modules/Attributes/DefaultModuleAttribute.cs
  api/Api/Modules/Attributes/ExportedFieldAttribute.cs
  api/Api/Modules/Attributes/ExportedMethodAttribute.cs
  api/Api/PreferenceManager/PreferenceManager.cs
  api/Api/Runtime/ApiProvider.cs
  api/Api/Runtime/IApiProvider.cs
  api/Api/Runtime/LogLevel.cs
  api/Api/UIManager/UIManager.cs
  api/Api/UIManager/UIParser.cs
  api/Api/UIManager/VisualElements/ListView.cs
  api/Api/UIManager/VisualElements/VisualElement.cs
  api/Api/Utilities/SynthesisException.cs
  api/Api/VirtualFileSystem/DirectroyExpection.cs
  api/Api/VirtualFileSystem/ExposedApiAttribute.cs
  api/Api/VirtualFileSystem/Permissions.cs
  api/MockApi/MockApi.cs
  api/TestApi/TestAnalytics.cs
  api/TestApi/TestEnvironmentManager.cs
  api/TestApi/TestVirtualFileSystem.cs
  engine/Assets/Api.dll
  engine/Assets/Scripts/Engine/ModuleLoader/Adapters/ComponentAdapter.cs
  engine/Assets/Scripts/Engine/ModuleLoader/Adapters/SystemAdapter.cs
  engine/Assets/Scripts/Engine/ModuleLoader/Adapters/SystemAdapter.cs.meta
  engine/Assets/Scripts/Engine/ModuleLoader/Adapters/SystemMonoBehavior.cs.meta
  engine/Assets/Scripts/Engine/ModuleLoader/Api.cs
  engine/Assets/Scripts/Engine/ModuleLoader/LoadModuleException.cs
  engine/Assets/Scripts/Engine/UI.meta
  engine/Assets/Scripts/Engine/UI/Creation.meta
  engine/Assets/Scripts/Engine/UI/Creation/ScriptableMenu.cs
  engine/Assets/UI/Toolbar/USS/Toolbar.uss.meta~Added barebones Fusion-inspired toolbar
  engine/Assets/UI/Toolbar/USS/Toolbar.uss.meta~Added barebones Fusion-inspired toolbar.meta
  engine/Assets/UI/Toolbar/USS/Toolbar.uss.meta~master
  engine/Assets/UI/Toolbar/USS/Toolbar.uss.meta~master.meta
  modules/SynthesisCore/SampleSystem.cs
  modules/SynthesisCore/Systems/CameraController.cs
Labels: api, engine

#590 Added UTF Support To CI
  .github/workflows/Engine.yml
Labels: engine

#596 UI Changes
  api/Api/UIManager/UIManager.cs
  api/Api/UIManager/VisualElements/Label.cs
  engine/Assets/Api.dll
  engine/Assets/Scenes/MainSim.unity
  engine/Assets/Scripts/Testing/UIParseTest.cs
  engine/Assets/SelectionList.uxml
  engine/Assets/SelectionList.uxml.meta
Labels: engine

#599 Begin controller
  api/Api/EventBus/EventBus.cs
  api/Api/Runtime/ApiProvider.cs
  api/Api/Runtime/IApiProvider.cs
  api/Api/Utilities/Result.cs
  api/Api/Utilities/SynthesisException.cs
  api/Api/VirtualFileSystem/DirectroyExpection.cs
  api/Api/VirtualFileSystem/Permissions.cs
  api/MockApi/MockApi.cs
  engine/Assets/Api.dll
  engine/Assets/Scripts/Engine/ModuleLoader/Adapters/SystemAdapter.cs
  engine/Assets/Scripts/Engine/ModuleLoader/Api.cs
  engine/Assets/Scripts/Engine/ModuleLoader/LoadModuleException.cs
  engine/Assets/Scripts/Engine/ModuleLoader/ModuleMetadata.cs
  engine/Assets/Tests/PlayMode/TestModuleLoader.cs
  engine/Assets/UIERuntime/Runtime/PanelRenderer.cs
  modules/Controller/Controller.cs
  modules/Controller/Controller.csproj
  modules/Controller/ControllerApi.cs
  modules/Controller/ExampleApi.cs
  modules/Controller/ExampleClient.cs
  modules/Controller/Rpc/MethodCallContext.cs
  modules/Controller/Rpc/RpcManager.cs
  modules/Controller/Rpc/RpcMethodAttribute.cs
  modules/Controller/Rpc/RpcResponse.cs
  modules/Controller/Rpc/RpcServer.cs
  modules/Controller/Rpc/Void.cs
  modules/Controller/SampleEvent.cs
  modules/Controller/SampleSystem.cs
  modules/Controller/lib/native/controller_sys/Cargo.lock
  modules/Controller/lib/native/controller_sys/Cargo.toml
  modules/Controller/lib/native/controller_sys/controller_sys.iml
  modules/Controller/lib/native/controller_sys/src/bin.rs
  modules/Controller/lib/native/controller_sys/src/lib.rs
  modules/SynthesisCore/Components/Moveable.cs
  modules/SynthesisCore/SampleSystem.cs
Labels: api, controller, engine

#600 Configured API Package Details For NuGet
  LICENSE.txt
  api/Api/Api.csproj
Labels: api
