Repository Autodesk/synthesis, pull requests merged in 2020-08, with the labels that each got.

#603 Component bundles
  api/Api/Api.csproj
  api/Api/AssetManager/AssetManager.cs
  api/Api/AssetManager/GltfAsset.cs
  api/Api/DevelopmentTools/ProfilerMarker.cs
  api/Api/EnvironmentManager/Bundle.cs
  api/Api/EnvironmentManager/Components/Parent.cs
  api/Api/EnvironmentManager/Components/Transform.cs
  api/Api/EnvironmentManager/Entity.cs
  api/Api/EnvironmentManager/EnvironmentManager.cs
  api/Api/Modules/ModuleManager.cs
  api/Api/Runtime/ApiProvider.cs
  api/Api/Runtime/IApiProvider.cs
  api/Api/UIManager/UIParser.cs
  api/Api/UIManager/VisualElements/ListView.cs
  api/Api/Utilities/ILogger.cs
  api/Api/Utilities/LogLevel.cs
  api/Api/Utilities/Logger.cs
  api/Api/Utilities/MathUtil.cs
  api/Api/Utilities/UniqueTypeList.cs
  api/MockApi/MockApi.cs
  api/TestApi/TestAssetManager.cs
  engine/Assets/Api.dll
  engine/Assets/Materials/128x128_Black 2.mat
  engine/Assets/Materials/128x128_Black 2.mat.meta
  engine/Assets/Packages/Microsoft.Bcl.AsyncInterfaces.dll
  engine/Assets/Packages/Microsoft.Bcl.AsyncInterfaces.dll.meta
  engine/Assets/Packages/SharpGLTF.Core.dll
  engine/Assets/Packages/SharpGLTF.Core.dll.meta
  engine/Assets/Packages/System.Text.Encodings.Web.dll
  engine/Assets/Packages/System.Text.Encodings.Web.dll.meta
  engine/Assets/Packages/System.Text.Json.dll
  engine/Assets/Packages/System.Text.Json.dll.meta
  engine/Assets/Packages/System.Threading.Tasks.Extensions.dll
  engine/Assets/Packages/System.Threading.Tasks.Extensions.dll.meta
  engine/Assets/Scenes/MainSim.unity
  engine/Assets/Scripts/Engine/ModuleLoader/Adapters/MeshAdapter.cs
  engine/Assets/Scripts/Engine/ModuleLoader/Adapters/ParentAdapter.cs
  engine/Assets/Scripts/Engine/ModuleLoader/Adapters/ParentAdapter.cs.meta
  engine/Assets/Scripts/Engine/ModuleLoader/Adapters/TransformAdapter.cs
  engine/Assets/Scripts/Engine/ModuleLoader/Api.cs
  engine/Assets/Scripts/Testing/UIParseTest.cs
  engine/Assets/UIERuntime/Runtime/PanelRenderer.cs
  engine/ProjectSettings/QualitySettings.asset
  engine/UpgradeLog.htm
  engine/UpgradeLog2.htm
  exporter/README.md
  modules/Controller/ControllerApi.cs
  modules/SynthesisCore/SampleSystem.cs
  modules/SynthesisCore/SynthesisCore.csproj
  modules/SynthesisCore/SynthesisCore.csproj.user
  modules/modules.sln
Labels: api, engine

#604 Add basic Fusion-inspired UI and StyleSheet support to SynthesisCore
  api/Api/AssetManager/AssetManager.cs
  api/Api/AssetManager/CssAsset.cs
  api/Api/AssetManager/UssAsset.cs
  api/Api/UIManager/StyleSheet.cs
  api/Api/UIManager/StyleSheetManager.cs
  api/Api/UIManager/UIComponents/Panel.cs
  api/Api/UIManager/UIManager.cs
  api/Api/UIManager/UIParser.cs
  api/Api/UIManager/UssClass.cs
  engine/Assets/Api.dll
  engine/Assets/Api.dll.meta
  modules/SynthesisCore/Assets/UI/images/add-icon.png
  modules/SynthesisCore/Assets/UI/images/controls-icon.png
  modules/SynthesisCore/Assets/UI/images/environments-icon.png
  modules/SynthesisCore/Assets/UI/images/general-settings-icon.png
  modules/SynthesisCore/Assets/UI/images/graphics-icon.png
  modules/SynthesisCore/Assets/UI/images/help-icon.png
  modules/SynthesisCore/Assets/UI/images/modules-icon.png
  modules/SynthesisCore/Assets/UI/images/settings-icon.png
  modules/SynthesisCore/Assets/UI/uss/Modules.uss
  modules/SynthesisCore/Assets/UI/uss/Settings.uss
  modules/SynthesisCore/Assets/UI/uss/Toolbar.uss
  modules/SynthesisCore/Assets/UI/uss/Window.uss
  modules/SynthesisCore/Assets/UI/uxml/Environments.uxml
  modules/SynthesisCore/Assets/UI/uxml/General.uxml
  modules/SynthesisCore/Assets/UI/uxml/Graphics.uxml
  modules/SynthesisCore/Assets/UI/uxml/Modules.uxml
  modules/SynthesisCore/Assets/UI/uxml/Settings.uxml
  modules/SynthesisCore/Assets/UI/uxml/Tab.uxml
  modules/SynthesisCore/Assets/UI/uxml/Toolbar.uxml
  modules/SynthesisCore/SynthesisCore.csproj
  modules/SynthesisCore/Systems/Ui.cs
Labels: api, engine

#607 Toast feed
  api/Api/AssetManager/SpriteAsset.cs
  api/Api/AssetManager/UssAsset.cs
  api/Api/Modules/ModuleManager.cs
  api/Api/UIManager/StyleSheet.cs
  api/Api/UIManager/StyleSheetManager.cs
  api/Api/UIManager/UIManager.cs
  api/Api/UIManager/UIParser.cs
  api/Api/UIManager/VisualElements/Button.cs
  api/Api/UIManager/VisualElements/ButtonClickableEvent.cs
  api/Api/UIManager/VisualElements/Label.cs
  api/Api/UIManager/VisualElements/ListView.cs
  api/Api/UIManager/VisualElements/ScrollView.cs
  api/Api/UIManager/VisualElements/TextField.cs
  api/Api/UIManager/VisualElements/VisualElement.cs
  api/Api/Utilities/LogLevel.cs
  api/Api/Utilities/Logger.cs
  api/Api/Utilities/SynthesisException.cs
  api/Api/VirtualFileSystem/DirectoryException.cs
  api/Api/VirtualFileSystem/FileSystem.cs
  api/Api/VirtualFileSystem/Permissions.cs
  api/TestApi/TestUIParsing.cs
  engine/Assets/Api.dll
  engine/Assets/Scripts/Engine/ModuleLoader/Api.cs
  engine/Assets/Scripts/Engine/ModuleLoader/LoadModuleException.cs
  engine/Assets/Tests/PlayMode/PlayMode.Tests.asmdef
  engine/Assets/Tests/PlayMode/TestUIParsing.cs
  engine/Assets/Tests/PlayMode/TestUIParsing.cs.meta
  engine/Assets/UI/Toolbar/Toolbar.uxml
  engine/Assets/UI/Toolbar/USS/Toolbar.uss
  modules/Controller/Assets/metadata.xml
  modules/Controller/lib/py/src/controller_sys.py
  modules/SynthesisCore/Assets/UI/images/bug-icon.png
  modules/SynthesisCore/Assets/UI/images/close-icon-black.png
  modules/SynthesisCore/Assets/UI/images/close-icon-white.png
  modules/SynthesisCore/Assets/UI/images/error-icon-white-solid.png
  modules/SynthesisCore/Assets/UI/images/info-icon-white-solid.png
  modules/SynthesisCore/Assets/UI/images/info-icon-white.png
  modules/SynthesisCore/Assets/UI/images/warning-icon-white-solid.png
  modules/SynthesisCore/Assets/UI/images/wrench-icon.png
  modules/SynthesisCore/Assets/UI/uxml/Environments.uxml
  modules/SynthesisCore/Assets/UI/uxml/Modules.uxml
  modules/SynthesisCore/Assets/UI/uxml/Settings.uxml
  modules/SynthesisCore/Assets/UI/uxml/Tab.uxml
  modules/SynthesisCore/Assets/UI/uxml/Toolbar.uxml
  modules/SynthesisCore/Assets/metadata.xml
  modules/SynthesisCore/Systems/ToastLogger.cs
  modules/SynthesisCore/Systems/Ui.cs
  modules/Utilities/Assets/metadata.xml
  modules/Utilities/Text.cs
Labels: api, engine

#608 Remove dependency on Microsoft.CSharp and dynamic
  api/Api/Api.csproj
  api/Api/AssetManager/AssetManager.cs
  api/Api/UIManager/UIParser.cs
  api/Api/UIManager/VisualElements/Button.cs
  api/Api/UIManager/VisualElements/Label.cs
  api/Api/UIManager/VisualElements/ListView.cs
  api/Api/UIManager/VisualElements/ScrollView.cs
  api/Api/UIManager/VisualElements/TextField.cs
  api/Api/UIManager/VisualElements/VisualElement.cs
  api/Api/Utilities/ParamsHelper.cs
  engine/Assets/Api.dll
  engine/Assets/Packages/Microsoft.CSharp.dll
  engine/Assets/Packages/Microsoft.CSharp.dll.meta
  engine/Assets/Scripts/Engine/ModuleLoader/Adapters/IApiAdapter.cs
  engine/Assets/Scripts/Engine/ModuleLoader/Api.cs
  engine/Assets/Scripts/Testing/TestInput2.cs
  engine/Assets/Scripts/Testing/TestInput2.cs.meta
  engine/ProjectSettings/ProjectSettings.asset
  modules/Controller/Controller.csproj
Labels: api, bug, engine

#617 Move toast icons so they are available in Unity builds
  engine/Assets/Resources/UI.meta
  engine/Assets/Resources/UI/Toasts.meta
  engine/Assets/Resources/UI/Toasts/close-icon-white.png
  engine/Assets/Resources/UI/Toasts/close-icon-white.png.meta
  engine/Assets/Resources/UI/Toasts/error-icon-white-solid.png
  engine/Assets/Resources/UI/Toasts/error-icon-white-solid.png.meta
  engine/Assets/Resources/UI/Toasts/info-icon-white-solid.png
  engine/Assets/Resources/UI/Toasts/info-icon-white-solid.png.meta
  engine/Assets/Resources/UI/Toasts/warning-icon-white-solid.png
  engine/Assets/Resources/UI/Toasts/warning-icon-white-solid.png.meta
  engine/Assets/Resources/UI/Toasts/wrench-icon.png
  engine/Assets/Resources/UI/Toasts/wrench-icon.png.meta
  engine/Assets/Scripts/Engine/ToastLogger.cs
Labels: bug, engine

#619 Remove duplicate Toolbar files from SynthesisCore module
  api/Api/AssetManager/UssAsset.cs
  engine/Assets/Api.dll
  modules/SynthesisCore/Assets/UI/uss/Toolbar.uss
  modules/SynthesisCore/Assets/UI/uxml/Toolbar.uxml
  modules/SynthesisCore/Assets/metadata.xml
Labels: bug, engine

#622 Physics, Motors, etc.
  api/Api/AssetManager/AssetManager.cs
  api/Api/AssetManager/AudioClipAsset.cs
  api/Api/AssetManager/GltfAsset.cs
  api/Api/EnvironmentManager/Bundle.cs
  api/Api/EnvironmentManager/Components/AudioSource.cs
  api/Api/EnvironmentManager/Components/BundleMarker.cs
  api/Api/EnvironmentManager/Components/FixedJoint.cs
  api/Api/EnvironmentManager/Components/HingeJoint.cs
  api/Api/EnvironmentManager/Components/IJoint.cs
  api/Api/EnvironmentManager/Components/Joints.cs
  api/Api/EnvironmentManager/Components/Mesh.cs
  api/Api/EnvironmentManager/Components/MeshCollider.cs
  api/Api/EnvironmentManager/Components/Parent.cs
  api/Api/EnvironmentManager/Components/Rigidbody.cs
  api/Api/EnvironmentManager/Components/Transform.cs
  api/Api/EnvironmentManager/EnvironmentManager.cs
  api/Api/EnvironmentManager/IControllable.cs
  api/Api/Utilities/BiDictionary.cs
  api/Api/Utilities/GeneralHelper.cs
  api/Api/Utilities/MathUtil.cs
  api/Api/Utilities/UniqueTypeList.cs
  engine/Assets/Api.dll
  engine/Assets/Fonts.meta
  engine/Assets/Fonts/ArtifaktElementBold.otf
  engine/Assets/Fonts/ArtifaktElementBold.otf.meta
  engine/Assets/Scenes/MainSim.unity
  engine/Assets/Scripts/Engine/ModuleLoader/Adapters/AudioSourceAdapter.cs
  engine/Assets/Scripts/Engine/ModuleLoader/Adapters/AudioSourceAdapter.cs.meta
  engine/Assets/Scripts/Engine/ModuleLoader/Adapters/CameraAdapter.cs
  engine/Assets/Scripts/Engine/ModuleLoader/Adapters/JointsAdapter.cs
  engine/Assets/Scripts/Engine/ModuleLoader/Adapters/JointsAdapter.cs.meta
  engine/Assets/Scripts/Engine/ModuleLoader/Adapters/MeshAdapter.cs
  engine/Assets/Scripts/Engine/ModuleLoader/Adapters/MeshCollider2DAdapter.cs
  engine/Assets/Scripts/Engine/ModuleLoader/Adapters/MeshColliderAdapter.cs
  engine/Assets/Scripts/Engine/ModuleLoader/Adapters/MeshColliderAdapter.cs.meta
  engine/Assets/Scripts/Engine/ModuleLoader/Adapters/ParentAdapter.cs
  engine/Assets/Scripts/Engine/ModuleLoader/Adapters/RigidbodyAdapter.cs
  engine/Assets/Scripts/Engine/ModuleLoader/Adapters/RigidbodyAdapter.cs.meta
  engine/Assets/Scripts/Engine/ModuleLoader/Adapters/SelectableAdapter.cs
  engine/Assets/Scripts/Engine/ModuleLoader/Adapters/SystemAdapter.cs
  engine/Assets/Scripts/Engine/ModuleLoader/Adapters/TransformAdapter.cs
  engine/Assets/Scripts/Engine/ModuleLoader/Api.cs
  engine/Assets/Scripts/Engine/Utilities/Misc.cs
  engine/Assets/Scripts/Testing/Gizmo.cs
  modules/SynthesisCore/SampleSystem.cs
  modules/SynthesisCore/Systems/MotorManager.cs
  modules/SynthesisCore/Systems/MoveArrows.cs
Labels: engine, sprint

#623 Fix move arrows to work with rigid bodies
  api/Api/AssetManager/GltfAsset.cs
  api/Api/EnvironmentManager/Components/Rigidbody.cs
  api/Api/EnvironmentManager/Components/Selectable.cs
  api/Api/EnvironmentManager/Components/Sprite.cs
  api/Api/EnvironmentManager/Components/Transform.cs
  api/Api/EnvironmentManager/EnvironmentManager.cs
  engine/Assets/Api.dll
  engine/Assets/Scripts/Engine/ModuleLoader/Adapters/JointsAdapter.cs
  engine/Assets/Scripts/Engine/ModuleLoader/Adapters/MeshCollider2DAdapter.cs
  engine/Assets/Scripts/Engine/ModuleLoader/Adapters/MeshColliderAdapter.cs
  engine/Assets/Scripts/Engine/ModuleLoader/Adapters/RigidbodyAdapter.cs
  engine/Assets/Scripts/Engine/ModuleLoader/Adapters/SelectableAdapter.cs
  engine/Assets/Scripts/Engine/ModuleLoader/Adapters/SpriteAdapter.cs
  engine/Assets/Scripts/Engine/ModuleLoader/Adapters/TransformAdapter.cs
  engine/Assets/Scripts/Engine/ModuleLoader/Api.cs
  modules/SynthesisCore/SampleSystem.cs
  modules/SynthesisCore/Systems/CameraController.cs
  modules/SynthesisCore/Systems/MoveArrows.cs
  modules/SynthesisCore/UI/EntityToolbar.cs
Labels: bug, engine

#621 Only move camera to selected object on double click
  api/Api/AssetManager/AssetManager.cs
  api/Api/AssetManager/SpriteAsset.cs
  api/Api/EnvironmentManager/Components/Selectable.cs
  engine/Assets/Api.dll
  engine/Assets/Scenes/MainSim.unity
  engine/Assets/Scripts/Engine/ModuleLoader/Adapters/SelectableAdapter.cs
  modules/SynthesisCore/Systems/CameraController.cs
Labels: engine

#626 Fixed mesh normals and added manual normals recalculation
  api/Api/EnvironmentManager/Components/Mesh.cs
  engine/Assets/Api.dll
  engine/Assets/Scripts/Engine/ModuleLoader/Adapters/MeshAdapter.cs
Labels: bug, engine, sprint

#627 Add custom dialogs
  engine/Assets/Api.dll
  engine/Assets/UI/Screen.uss
  engine/Assets/UI/Screen.uxml
  modules/SynthesisCore/Assets/UI/images/information-icon.png
  modules/SynthesisCore/Assets/UI/uss/Dialog.uss
  modules/SynthesisCore/Assets/UI/uxml/Dialog.uxml
  modules/SynthesisCore/Assets/metadata.xml
  modules/SynthesisCore/UI/Dialog.cs
  modules/SynthesisCore/UI/DialogInfo.cs
  modules/SynthesisCore/UI/Ui.cs
Labels: engine

#629 USS Bug Fix
  engine/Assets/UI/Screen.uss
Labels: bug, engine

#637 Create help panel with links to multiple Synthesis resources
  modules/SynthesisCore/Assets/UI/uss/Entity.uss
  modules/SynthesisCore/Assets/UI/uss/HelpWindow.uss
  modules/SynthesisCore/Assets/UI/uss/Module.uss
  modules/SynthesisCore/Assets/UI/uss/Toolbar.uss
  modules/SynthesisCore/Assets/UI/uss/Window.uss
  modules/SynthesisCore/Assets/UI/uxml/HelpWindow.uxml
  modules/SynthesisCore/Assets/metadata.xml
  modules/SynthesisCore/UI/EngineToolbar.cs
  modules/SynthesisCore/UI/Ui.cs
  modules/SynthesisCore/UI/Windows/EntitiesWindow.cs
  modules/SynthesisCore/UI/Windows/EntityItem.cs
  modules/SynthesisCore/UI/Windows/EnvironmentItem.cs
  modules/SynthesisCore/UI/Windows/EnvironmentsWindow.cs
  modules/SynthesisCore/UI/Windows/HelpWindow.cs
  modules/SynthesisCore/UI/Windows/ModuleItem.cs
  modules/SynthesisCore/UI/Windows/ModuleWindow.cs
Labels: engine

#639 Added mass scale to fixed and hinge joints
  engine/Assets/Scripts/Engine/ModuleLoader/Adapters/JointsAdapter.cs
Labels: bug, engine, sprint

#640 Add links to GitHub and the GitHub issue page to the help menu
  modules/SynthesisCore/Assets/UI/uxml/HelpWindow.uxml
  modules/SynthesisCore/UI/Windows/HelpWindow.cs
Labels: engine

#642 Dropdown
  api/Api/Api.csproj
  api/Api/InputManager/InputEvents.cs
  api/Api/InputManager/InputManager.cs
  api/Api/InputManager/Inputs.cs
  api/Api/UIManager/ApplicationWindow.cs
  api/Api/UIManager/UIManager.cs
  api/Api/UIManager/VisualElements/ListView.cs
  api/Api/UIManager/VisualElements/VisualElement.cs
  engine/Assets/Api.dll
  engine/Assets/Tests/PlayMode/PlayMode.Tests.asmdef
  engine/Assets/UI/Screen.uss
  engine/Assets/UI/Screen.uxml
  modules/SynthesisCore/Assets/UI/images/information-icon.png
  modules/SynthesisCore/Assets/UI/uxml/Dropdown.uxml
  modules/SynthesisCore/Assets/metadata.xml
  modules/SynthesisCore/UI/Dropdown.cs
  modules/SynthesisCore/UI/Ui.cs
  modules/SynthesisCore/UI/Windows/HelpWindow.cs
Labels: engine

#648 Add mass to parent rigidbody if the current node doesn't have one
  api/Api/AssetManager/GltfAsset.cs
  engine/Assets/Api.dll
Labels: api, bug

#647 Add rotation arrows to the move entity tool
  modules/SynthesisCore/Assets/metadata.xml
  modules/SynthesisCore/Assets/sprites/arrow-selected.png
  modules/SynthesisCore/Assets/sprites/arrow.png
  modules/SynthesisCore/Assets/sprites/point-marker.png
  modules/SynthesisCore/Assets/sprites/rotate-arrow-selected.png
  modules/SynthesisCore/Assets/sprites/rotate-arrow.png
  modules/SynthesisCore/EntityMovement/AxisArrow.cs
  modules/SynthesisCore/EntityMovement/MarkerBase.cs
  modules/SynthesisCore/EntityMovement/MoveArrows.cs
  modules/SynthesisCore/EntityMovement/PointMarker.cs
  modules/SynthesisCore/EntityMovement/RotateArrow.cs
  modules/SynthesisCore/SampleSystem.cs
  modules/SynthesisCore/Systems/MoveArrows.cs
  modules/SynthesisCore/UI/EntityToolbar.cs
Labels: engine
