Repository Autodesk/synthesis, pull requests merged in 2020-12, with the labels that each got.

#682 Add build documentation for Synthesis
  engine/README.md
  modules/update_modules.ps1
  modules/update_modules.sh
Labels: engine

#672 Fixed module assembly load order
  engine/Assets/Scripts/Engine/ModuleLoader/ModuleLoader.cs
Labels: bug, engine

#692 Added Module API Readme
  api/README.md
Labels: api
