Repository Autodesk/synthesis, pull requests merged in 2020-09, with the labels that each got.

#634 Joint Editor Window UI
  api/Api/EnvironmentManager/Components/IJoint.cs
  api/Api/EnvironmentManager/Components/Selectable.cs
  api/Api/EnvironmentManager/IControllable.cs
  api/Api/Runtime/ApiProvider.cs
  api/Api/Runtime/IApiProvider.cs
  api/Api/UIManager/DragManipulator.cs
  api/Api/UIManager/TooltipManipulator.cs
  api/Api/UIManager/UIComponents/Panel.cs
  api/Api/UIManager/UIComponents/Tab.cs
  api/Api/UIManager/UIManager.cs
  api/Api/UIManager/UIParser.cs
  api/Api/UIManager/VisualElements/TextField.cs
  api/Api/UIManager/VisualElements/VisualElement.cs
  api/Api/Utilities/Math.cs
  api/MockApi/MockApi.cs
  engine/Assets/Api.dll
  engine/Assets/Scenes/MainSim.unity
  engine/Assets/Scripts/Engine/ModuleLoader/Adapters/SelectableAdapter.cs
  engine/Assets/Scripts/Engine/ModuleLoader/Api.cs
  engine/Assets/Scripts/Engine/ToastLogger.cs
  engine/Assets/UI/Screen.uss
  modules/Controller/ControllerApi.cs
  modules/SynthesisCore/Assets/UI/images/add-entity-icon-2.png
  modules/SynthesisCore/Assets/UI/images/delete-icon-disabled.png
  modules/SynthesisCore/Assets/UI/images/environments-icon.png
  modules/SynthesisCore/Assets/UI/images/joint-icon-disabled.png
  modules/SynthesisCore/Assets/UI/images/joint-icon.png
  modules/SynthesisCore/Assets/UI/images/motor-icon.png
  modules/SynthesisCore/Assets/UI/images/move-entity-icon-disabled.png
  modules/SynthesisCore/Assets/UI/images/move-entity-icon.png
  modules/SynthesisCore/Assets/UI/uss/Joint.uss
  modules/SynthesisCore/Assets/UI/uss/TitleBar.uss
  modules/SynthesisCore/Assets/UI/uss/Window.uss
  modules/SynthesisCore/Assets/UI/uxml/Joint.uxml
  modules/SynthesisCore/Assets/UI/uxml/JointNone.uxml
  modules/SynthesisCore/Assets/UI/uxml/Joints.uxml
  modules/SynthesisCore/Assets/UI/uxml/TitleBar.uxml
  modules/SynthesisCore/Assets/metadata.xml
  modules/SynthesisCore/EntityMovement/MoveArrows.cs
  modules/SynthesisCore/Meshes/Cube.cs
  modules/SynthesisCore/Meshes/Cylinder.cs
  modules/SynthesisCore/SampleSystem.cs
  modules/SynthesisCore/Simulation/DCMotor.cs
  modules/SynthesisCore/Simulation/MotorAssembly.cs
  modules/SynthesisCore/Simulation/MotorAssemblyManager.cs
  modules/SynthesisCore/Simulation/MotorTypes.cs
  modules/SynthesisCore/SynthesisCore.csproj
  modules/SynthesisCore/SynthesisCoreData.cs
  modules/SynthesisCore/Systems/CameraController.cs
  modules/SynthesisCore/UI/Dropdown.cs
  modules/SynthesisCore/UI/EngineToolbar.cs
  modules/SynthesisCore/UI/EntityToolbar.cs
  modules/SynthesisCore/UI/ToolbarTools.cs
  modules/SynthesisCore/UI/Ui.cs
  modules/SynthesisCore/UI/Windows/JointItem.cs
  modules/SynthesisCore/UI/Windows/JointsWindow.cs
Labels: engine

#651 Nsis osx installer
  installer/OSX/App/payload/Contents/Info.plist
  installer/OSX/App/payload/Contents/README.md
  installer/OSX/App/scripts/postinstall
  installer/OSX/App/scripts/preinstall
  installer/OSX/Assets/payload/Contents/Info.plist
  installer/OSX/Assets/payload/Contents/Synthesis/README.md
  installer/OSX/Assets/scripts/postinstall
  installer/OSX/Assets/scripts/preinstall
  installer/OSX/Exporter/payload/Contents/Info.plist
  installer/OSX/Exporter/payload/Contents/SynthesisInventorGltfExporter/README.md
  installer/OSX/Exporter/scripts/postinstall
  installer/OSX/Exporter/scripts/preinstall
  installer/OSX/Installer/Distribution.xml
  installer/OSX/Installer/Resources/conclusion.html
  installer/OSX/Installer/Resources/license.html
  installer/OSX/Installer/Resources/welcome.html
  installer/OSX/README.md
  installer/OSX/application/.gitkeep
  installer/OSX/application/background.png
  installer/OSX/application/spec.json
  installer/OSX/build-macos-x64.sh
  installer/OSX/darwin/Distribution
  installer/OSX/darwin/Resources/banner.png
  installer/OSX/darwin/Resources/uninstall.sh
  installer/OSX/darwin/scripts/postinstall
  installer/OSX/instructions.txt
  installer/OSX/pkginstall
  installer/OSX/post-install.sh
  installer/OSX/utils/ascii_art.txt
Labels: installer

#649 Add Settings window content and functionality
  api/Api/EnvironmentManager/SystemBase.cs
  api/Api/InputManager/InputManager.cs
  api/Api/InputManager/KeyEvent.cs
  api/Api/PreferenceManager/PreferenceManager.cs
  api/Api/UIManager/ClosePanelEvent.cs
  api/Api/UIManager/ShowPanelEvent.cs
  api/Api/UIManager/UIManager.cs
  engine/Assets/Api.dll
  engine/Assets/Scripts/Engine/ModuleLoader/Adapters/SystemAdapter.cs
  modules/SynthesisCore/Assets/UI/images/graphics-icon.png
  modules/SynthesisCore/Assets/UI/images/toggle-off-icon.png
  modules/SynthesisCore/Assets/UI/images/toggle-on-icon.png
  modules/SynthesisCore/Assets/UI/uss/Control.uss
  modules/SynthesisCore/Assets/UI/uss/Dropdown.uss
  modules/SynthesisCore/Assets/UI/uss/Entity.uss
  modules/SynthesisCore/Assets/UI/uss/Help.uss
  modules/SynthesisCore/Assets/UI/uss/Module.uss
  modules/SynthesisCore/Assets/UI/uss/Option.uss
  modules/SynthesisCore/Assets/UI/uss/Page.uss
  modules/SynthesisCore/Assets/UI/uss/Settings.uss
  modules/SynthesisCore/Assets/UI/uss/Toggle.uss
  modules/SynthesisCore/Assets/UI/uss/Toolbar.uss
  modules/SynthesisCore/Assets/UI/uss/Window.uss
  modules/SynthesisCore/Assets/UI/uxml/Control.uxml
  modules/SynthesisCore/Assets/UI/uxml/Controls.uxml
  modules/SynthesisCore/Assets/UI/uxml/Dropdown.uxml
  modules/SynthesisCore/Assets/UI/uxml/General.uxml
  modules/SynthesisCore/Assets/UI/uxml/Graphics.uxml
  modules/SynthesisCore/Assets/UI/uxml/Help.uxml
  modules/SynthesisCore/Assets/UI/uxml/Option.uxml
  modules/SynthesisCore/Assets/UI/uxml/Settings.uxml
  modules/SynthesisCore/Assets/UI/uxml/Toggle.uxml
  modules/SynthesisCore/Assets/metadata.xml
  modules/SynthesisCore/InputSystem.cs
  modules/SynthesisCore/UI/Dropdown.cs
  modules/SynthesisCore/UI/FileInfo.cs
  modules/SynthesisCore/UI/Toggle.cs
  modules/SynthesisCore/UI/Ui.cs
  modules/SynthesisCore/UI/Utilities.cs
  modules/SynthesisCore/UI/Windows/ControlItem.cs
  modules/SynthesisCore/UI/Windows/ControlsPage.cs
  modules/SynthesisCore/UI/Windows/DropdownItem.cs
  modules/SynthesisCore/UI/Windows/EntitiesWindow.cs
  modules/SynthesisCore/UI/Windows/EnvironmentsWindow.cs
  modules/SynthesisCore/UI/Windows/GeneralPage.cs
  modules/SynthesisCore/UI/Windows/HelpWindow.cs
  modules/SynthesisCore/UI/Windows/ModuleWindow.cs
  modules/SynthesisCore/UI/Windows/SettingsWindow.cs
  modules/SynthesisCore/UI/Windows/ToggleItem.cs
  modules/SynthesisCore/Utilities.cs
Labels: engine

#652 Synthesis Contribution Guide
  contributing.md
Labels: enhancement

#655 Disabling Internal Collisions within designs
  api/Api/AssetManager/GltfAsset.cs
  api/Api/EnvironmentManager/Components/MeshCollider.cs
  api/Api/EnvironmentManager/Components/Transform.cs
  engine/Assets/Api.dll
  engine/Assets/Api.dll.meta
  engine/Assets/Scripts/Engine/ModuleLoader/Adapters/JointsAdapter.cs
  engine/Assets/Scripts/Engine/ModuleLoader/Adapters/MeshColliderAdapter.cs
Labels: engine, sprint

#658 Implemented Splash Screen
  engine/Assets/Resources/Logos.meta
  engine/Assets/Resources/Logos/LockupFlat.png
  engine/Assets/Resources/Logos/LockupFlat.png.meta
  engine/Assets/Resources/Logos/icon.png
  engine/Assets/Resources/Logos/icon.png.meta
  engine/ProjectSettings/ProjectSettings.asset
  installer/Linux/LinuxInstaller.sh
Labels: engine

#656 Add Updater
  api/Api/Utilities/Toolkit.cs
  engine/Assets/Api.dll
  engine/Assets/Api.dll.meta
  engine/Assets/Scripts/Engine/Utilities/UnityHandler.cs
  engine/Assets/Scripts/Engine/Utilities/UnityHandler.cs.meta
  engine/Assets/Scripts/Engine/Utilities/VersionManager.cs
  engine/Assets/Scripts/Engine/Utilities/VersionManager.cs.meta
  modules/SynthesisCore/Assets/UI/uxml/Help.uxml
  modules/SynthesisCore/SynthesisCore.csproj
  modules/SynthesisCore/UI/DialogInfo.cs
  modules/SynthesisCore/UI/Ui.cs
  modules/SynthesisCore/UI/Windows/ControlItem.cs
  modules/SynthesisCore/UI/Windows/HelpWindow.cs
  modules/SynthesisCore/Utilities/StringUtils.cs
  modules/SynthesisCore/Utilities/Updater.cs
Labels: engine

#668 Implemented Native File Explorer Calls
  modules/SynthesisCore/Assets/UI/uxml/Entities.uxml
  modules/SynthesisCore/Assets/UI/uxml/Environments.uxml
  modules/SynthesisCore/Assets/UI/uxml/Modules.uxml
  modules/SynthesisCore/UI/Windows/EntitiesWindow.cs
  modules/SynthesisCore/UI/Windows/EnvironmentsWindow.cs
  modules/SynthesisCore/UI/Windows/ModuleWindow.cs
Labels: engine

#659 Misc bug fixes
  .gitignore
  api/Api/AssetManager/GltfAsset.cs
  api/Api/EnvironmentManager/Components/Selectable.cs
  engine/Assets/Api.dll
  engine/Assets/Scripts/Engine/ModuleLoader/Adapters/JointsAdapter.cs
  engine/Assets/Scripts/Engine/ModuleLoader/Adapters/SelectableAdapter.cs
  modules/SynthesisCore/UI/EntityToolbar.cs
Labels: bug, engine

#671 Updated API Release Details
  api/Api/Api.csproj
Labels: api

#669 Analytics for API and Button Clicks
  api/Api/AssetManager/GltfAsset.cs
  api/Api/EnvironmentManager/Time.cs
  api/Api/EventBus/Analytics.cs
  engine/Assets/Api.dll
  engine/Assets/Resources.meta
  engine/Assets/Resources/Logos.meta
  engine/Assets/Resources/Logos/LockupFlat.png
  engine/Assets/Resources/Logos/LockupFlat.png.meta
  engine/Assets/Resources/Logos/icon.png
  engine/Assets/Resources/Logos/icon.png.meta
  modules/SynthesisCore/UI/EngineToolbar.cs
  modules/SynthesisCore/UI/EntityToolbar.cs
  modules/SynthesisCore/UI/Ui.cs
  modules/SynthesisCore/UI/Windows/HelpWindow.cs
  modules/SynthesisCore/UI/Windows/ModuleWindow.cs
  modules/SynthesisCore/UI/Windows/SettingsWindow.cs
Labels: analytics, api, engine
