Repository Autodesk/synthesis, pull requests merged in 2020-06, with the labels that each got.

#496 Integrating the Integration of Continuous Integration
  .github/workflows/EngineBuild.yml
Labels: engine

#523 Input System
  engine/CoreEngine/Assets/Scripts/Engine/Input/Axis/JoystickAxis.cs
  engine/CoreEngine/Assets/Scripts/Engine/Input/Digital/KeyDigital.cs
  engine/CoreEngine/Assets/Scripts/Testing/InputTest.cs
  engine/CoreEngine/Assets/Scripts/Testing/InputTest.cs.meta
  engine/CoreEngine/Assets/Scripts/Testing/TestInputUI.cs
Labels: engine, sprint

#531 Add empty classes for Synthesis Core managers
  controller/.gitignore
  controller/Api/Api.csproj
  controller/Api/Api.sln
  controller/Api/AssetManager/AssetManager.cs
  controller/Api/EnvironmentManager/EnvironmentManager.cs
  controller/Api/EventBus/EventBus.cs
  controller/Api/InputManager/InputManager.cs
  controller/Api/Modules/Attributes/BuiltinComponentAttribute.cs
  controller/Api/Modules/Attributes/ComponentAttribute.cs
  controller/Api/Modules/Attributes/DefaultModuleAttribute.cs
  controller/Api/Modules/Attributes/ExportedFieldAttribute.cs
  controller/Api/Modules/Attributes/ExportedMethodAttribute.cs
  controller/Api/Modules/Attributes/ModuleExportAttribute.cs
  controller/Api/Modules/Behavior.cs
  controller/Api/Modules/Component.cs
  controller/Api/Modules/Components/Mesh.cs
  controller/Api/Modules/Entity.cs
  controller/Api/Modules/GlobalBehavior.cs
  controller/Api/Modules/IModule.cs
  controller/Api/Modules/Object.cs
  controller/Api/Properties/AssemblyInfo.cs
  controller/Api/Runtime/ApiProvider.cs
  controller/Api/Runtime/IApiProvider.cs
  controller/Api/UIManager/UIManager.cs
  controller/Api/Utilities/ReflectHelper.cs
  controller/Api/Utilities/SharedBinaryStream.cs
  controller/Api/Utilities/SharedTextStream.cs
  controller/Api/VirtualFileSystem/Directory.cs
  controller/Api/VirtualFileSystem/Entry.cs
  controller/Api/VirtualFileSystem/FileSystem.cs
  controller/Api/VirtualFileSystem/Permissions.cs
  controller/Api/VirtualFileSystem/RawEntry.cs
  controller/Api/VirtualFileSystem/Resource.cs
  controller/Api/VirtualFileSystem/SampleObject.cs
  controller/Api/libs/UnityEngine.dll
  controller/MockApi/Class1.cs
  controller/MockApi/MockApi.csproj
  controller/MockApi/Properties/AssemblyInfo.cs
  controller/TestApi/App.config
  controller/TestApi/Program.cs
  controller/TestApi/Properties/AssemblyInfo.cs
  controller/TestApi/TestApi.csproj
  controller/TestApi/test.txt
Labels: controller, engine

#526 AutoUpdate Remote Certificate Validation Callback Backend
  engine/CoreEngine/Assets/Resources.meta
  engine/CoreEngine/Assets/Scripts/Engine/Input/InputHandler.cs
  engine/CoreEngine/Assets/Scripts/Engine/UI/Style/StyleHandler.cs
  engine/CoreEngine/Assets/Scripts/Engine/Util/UnityHandler.cs
  engine/CoreEngine/Assets/Scripts/Engine/Util/UnityHandler.cs.meta
  engine/CoreEngine/Assets/Scripts/Engine/Util/UnityHandles.cs
  engine/CoreEngine/Assets/Scripts/Engine/Util/VersionManager.cs
  engine/CoreEngine/Assets/Scripts/Engine/Util/VersionManager.cs.meta
Labels: engine

#538 Saving Preferences
  controller/Api/Api.csproj
  controller/Api/PreferenceManager/PreferenceManager.cs
  controller/Api/VirtualFileSystem/Directory.cs
  controller/Api/VirtualFileSystem/FileSystem.cs
  controller/Api/VirtualFileSystem/JSONEntry.cs
  controller/TestApi/Program.cs
  controller/TestApi/TestApi.csproj
  controller/TestApi/TestPreferenceManager.cs
  controller/TestApi/files/preferences.json
Labels: engine, sprint

#542 NUnit Packages added and converted Preference Manager tests to NUnit tests
  controller/Api/PreferenceManager/PreferenceManager.cs
  controller/TestApi/Program.cs
  controller/TestApi/TestApi.csproj
  controller/TestApi/TestPreferenceManager.cs
  controller/TestApi/packages.config
Labels: api, sprint

#544 539 asset manager refactor
  controller/Api/Api.csproj
  controller/Api/AssetManager/Asset.cs
  controller/Api/AssetManager/AssetManager.cs
  controller/Api/AssetManager/BinaryAsset.cs
  controller/Api/AssetManager/CssAsset.cs
  controller/Api/AssetManager/IAsset.cs
  controller/Api/AssetManager/JSONAsset.cs
  controller/Api/AssetManager/JsonAsset.cs
  controller/Api/AssetManager/PlainTextAsset.cs
  controller/Api/AssetManager/SpriteAsset.cs
  controller/Api/AssetManager/TextAsset.cs
  controller/Api/AssetManager/XMLAsset.cs
  controller/Api/AssetManager/XmlAsset.cs
  controller/Api/PreferenceManager/PreferenceManager.cs
  controller/Api/Utilities/ParamsHelper.cs
  controller/Api/Utilities/Result.cs
  controller/Api/Utilities/SharedBinaryStream.cs
  controller/Api/Utilities/SharedTextStream.cs
  controller/Api/VirtualFileSystem/Directory.cs
  controller/Api/VirtualFileSystem/Entry.cs
  controller/Api/VirtualFileSystem/FileSystem.cs
  controller/Api/VirtualFileSystem/IEntry.cs
  controller/Api/VirtualFileSystem/IResource.cs
  controller/Api/VirtualFileSystem/JSONEntry.cs
  controller/Api/VirtualFileSystem/Permissions.cs
  controller/Api/VirtualFileSystem/RawEntry.cs
  controller/Api/VirtualFileSystem/Resource.cs
  controller/TestApi/.gitignore
  controller/TestApi/Program.cs
  controller/TestApi/TestApi.csproj
  controller/TestApi/TestAssetManager.cs
  controller/TestApi/TestPreferenceManager.cs
  controller/TestApi/TestVirtualFileSystem.cs
  controller/TestApi/files/preferences.json
  controller/TestApi/test_assets/test.json
  controller/TestApi/test_assets/test.txt
  controller/TestApi/test_assets/test.xml
Labels: engine

#548 Fixed preferences.json file bug
  controller/Api/AssetManager/AssetManager.cs
Labels: api, bug

#550 NSIS Updates For Modernization
  installer/Windows/EngInstaller(x86).nsi
  installer/Windows/MainInstaller.nsi
Labels: installer
