Repository Autodesk/synthesis, pull requests merged in 2021-08, with the labels that each got.

#741 Auto Updater GUI
  engine/Assembly-CSharp.csproj
  engine/Assets/LineScript.cs
  engine/Assets/LineScript.cs.meta
  engine/Assets/Prefabs/Nav-Bar/Nav-Bar.prefab
  engine/Assets/Prefabs/Panels/Variants/UpdatePrompt_v1.prefab
  engine/Assets/Prefabs/Panels/Variants/UpdatePrompt_v1.prefab.meta
  engine/Assets/Prefabs/Panels/Variants/UpdatePrompt_v2.prefab
  engine/Assets/Prefabs/Panels/Variants/UpdatePrompt_v2.prefab.meta
  engine/Assets/Scenes/MainScene.unity
  engine/Assets/Scripts/AutoUpdater.cs
  engine/Assets/Scripts/AutoUpdater.cs.meta
  engine/Assets/Scripts/UI/LayoutManager.cs
  engine/Assets/Scripts/UI/NavigationBar.cs
  engine/Assets/Scripts/UI/Panels/Variants/UpdatePromptPanel.cs
  engine/Assets/Scripts/UI/Panels/Variants/UpdatePromptPanel.cs.meta
  engine/Assets/Scripts/VersionManager.cs
  engine/Assets/Scripts/VersionManager.cs.meta
  engine/Assets/Sprites/2pt_border_4px_radius-1.png
  engine/Assets/Sprites/2pt_border_4px_radius-1.png.meta
  engine/Assets/Sprites/2pt_light_border_4px_radius-01.png
  engine/Assets/Sprites/2pt_light_border_4px_radius-01.png.meta
  engine/Assets/Sprites/no_border_4px_radius-01.png
  engine/Assets/Sprites/no_border_4px_radius-01.png.meta
  engine/Assets/TextMesh Pro/Fonts/ArtifaktElementOfc-Regular.ttf.meta
  engine/CoreEngine.csproj
  engine/EditModeTests.csproj
  engine/Packages/manifest.json
  engine/Packages/packages-lock.json
  engine/PlayModeTests.csproj
  engine/engine.sln
Labels: engine

#743 Populate Settings Panel with settings
  engine/Assets/Materials/Floor.mat
  engine/Assets/Materials/Floor.mat.meta
  engine/Assets/Prefabs/Nav-Bar/Nav-Bar-Buttons/Button-Holder.prefab
  engine/Assets/Prefabs/Nav-Bar/Nav-Bar-Buttons/Settings-Button.prefab
  engine/Assets/Prefabs/Nav-Bar/Nav-Bar-Buttons/Settings-Button.prefab.meta
  engine/Assets/Prefabs/Nav-Bar/Nav-Bar.prefab
  engine/Assets/Prefabs/Panels/Variants/SettingsPanel/Settings Scroll Variant.prefab
  engine/Assets/Prefabs/Panels/Variants/SettingsPanel/SettingsPanel.prefab
  engine/Assets/Prefabs/Panels/Variants/SettingsPanel/SettingsPanel.prefab.meta
  engine/Assets/Prefabs/Panels/Variants/SettingsPanel/Variants/Settings Dropdown.prefab
  engine/Assets/Prefabs/Panels/Variants/SettingsPanel/Variants/Settings Keybind.prefab
  engine/Assets/Prefabs/Panels/Variants/SettingsPanel/Variants/Settings Slider.prefab
  engine/Assets/Prefabs/Panels/Variants/SettingsPanel/Variants/Settings Slider.prefab.meta
  engine/Assets/Prefabs/Panels/Variants/SettingsPanel/Variants/Settings Title.prefab
  engine/Assets/Prefabs/Panels/Variants/SettingsPanel/Variants/Settings Toggle.prefab
  engine/Assets/Resources/UI.meta
  engine/Assets/Scenes/MainScene.unity
  engine/Assets/Scripts/AnalyticsManager.cs
  engine/Assets/Scripts/ButtonPanel.cs
  engine/Assets/Scripts/ButtonPanel.cs.meta
  engine/Assets/Scripts/Camera/CameraController.cs
  engine/Assets/Scripts/LocalMultiplayer.cs
  engine/Assets/Scripts/UI/NavigationBar.cs
  engine/Assets/Scripts/UI/Panels/Variants/Settings/SettingsInput.cs
  engine/Assets/Scripts/UI/Panels/Variants/Settings/SettingsPanel.cs
  engine/Assets/Sprites/2pt_border_circle-01.png
  engine/Assets/Sprites/2pt_border_circle-01.png.meta
  engine/Assets/Textures.meta
  engine/Assets/Textures/FloorTileMetric.png
  engine/Assets/Textures/FloorTileMetric.png.meta
  engine/ProjectSettings/ProjectSettings.asset
  engine/ProjectSettings/QualitySettings.asset
  engine/ProjectSettings/SceneTemplateSettings.json
  engine/engine.sln
Labels: engine

#747 Implemented Splash Screen
  engine/Assets/Resources/UI/Startup.meta
  engine/Assets/Resources/UI/Startup/Icon1024.png
  engine/Assets/Resources/UI/Startup/Icon1024.png.meta
  engine/Assets/Resources/UI/Startup/Splashscreen.png
  engine/Assets/Resources/UI/Startup/Splashscreen.png.meta
  engine/Assets/Scripts/AutoUpdater.cs
  engine/Assets/Scripts/UI/NavigationBar.cs
  engine/ProjectSettings/ProjectSettings.asset
Labels: engine

#748 Implement MiraBuf Importer and Basic Control System
  api/Api/Mirabuf/Appearance.cs
  api/Api/Mirabuf/Assembly.cs
  api/Api/Mirabuf/Extensions.cs
  api/Api/Mirabuf/Part.cs
  api/Api/Mirabuf/Transform.cs
  api/Api/Mirabuf/TriangleMesh.cs
  api/Api/Mirabuf/Vector3.cs
  api/Api/Simulation/Driver.cs
  api/Api/Simulation/RotationalDriver.cs
  api/Api/Simulation/SimBehaviour.cs
  api/Api/Simulation/SimObject.cs
  api/Api/Simulation/SimulationManager.cs
  api/Api/Utilities/Math.cs
  api/Mirabuf/Assembly.cs
  api/Mirabuf/Joint.cs
  api/Mirabuf/Material.cs
  api/Mirabuf/Types.cs
  api/MockApi/MockApi.cs
  engine/Assembly-CSharp.csproj
  engine/Assets/Packages/Aardvark.dll
  engine/Assets/Packages/Api.dll
  engine/Assets/Packages/Api.dll.meta
  engine/Assets/Resources.meta
  engine/Assets/Scenes/MainScene.unity
  engine/Assets/Scripts/Behaviors.meta
  engine/Assets/Scripts/Behaviors/ArcadeDrive.cs
  engine/Assets/Scripts/Behaviors/ArcadeDrive.cs.meta
  engine/Assets/Scripts/Behaviors/TankDriveBehavior.cs
  engine/Assets/Scripts/Behaviors/TankDriveBehavior.cs.meta
  engine/Assets/Scripts/Camera/CameraController.cs
  engine/Assets/Scripts/DriverPractice/DriverPracticeSystem.cs
  engine/Assets/Scripts/EntityManager/Driver.cs
  engine/Assets/Scripts/EntityManager/Driver.cs.meta
  engine/Assets/Scripts/EntityManager/Entity.cs
  engine/Assets/Scripts/EntityManager/EntityManager.cs
  engine/Assets/Scripts/EntityManager/EntityManager.cs.meta
  engine/Assets/Scripts/EntityManager/RotationalDriver.cs
  engine/Assets/Scripts/EntityManager/RotationalDriver.cs.meta
  engine/Assets/Scripts/Importer/Importer.cs
  engine/Assets/Scripts/PTL.cs
  engine/Assets/Scripts/RobotInstance.cs
  engine/Assets/Scripts/RobotInstance.cs.meta
  engine/Assets/Scripts/UI/Panels/Variants/Settings.meta
  engine/Assets/Scripts/UtilExtensions.cs
  engine/Assets/Scripts/Utilities/Misc.cs
  engine/Assets/SimulationManagerInspector.cs
  engine/Assets/SimulationManagerInspector.cs.meta
  engine/Assets/SimulationRunner.cs
  engine/Assets/SimulationRunner.cs.meta
  engine/CoreEngine.csproj
  engine/EditModeTests.csproj
  engine/PlayModeTests.csproj
  engine/engine.sln
  engine/engine.sln.DotSettings.user
  resolve_standard_conflicts.sh
Labels: engine, api

#756 1363 simulation manager server integration
  api/Api/Simulation/SimulationManager.cs
  api/Api/Utilities/TcpServer.cs
  api/Api/Utilities/UdpServer.cs
  api/TestApi/TestProtoIntegration.cs
  api/TestApi/TestServers.cs
  api/post_build.sh
  engine/Assets/Packages/Aardvark.dll
  engine/Assets/Packages/Api.dll
  engine/Assets/Scripts/RobotProofOfConcept/bin.meta
  engine/Assets/Scripts/RobotProofOfConcept/bin/Debug.meta
  engine/Assets/Scripts/RobotProofOfConcept/bin/Debug/netcoreapp3.1.meta
  engine/Assets/Scripts/RobotProofOfConcept/obj.meta
  engine/Assets/Scripts/RobotProofOfConcept/obj/Debug.meta
  engine/Assets/Scripts/RobotProofOfConcept/obj/Debug/netcoreapp3.1.meta
  engine/Assets/Scripts/ServerMonobehaviour.cs
  engine/Assets/Scripts/ServerMonobehaviour.cs.meta
  engine/Assets/Scripts/ServersMonoBehavior.cs
  engine/Assets/Scripts/ServersMonoBehavior.cs.meta
Labels: engine, api

#757 Analytics Implementation
  engine/Assets/EditModeTests/AnalyticsTest.cs
  engine/Assets/Scripts/AnalyticsManager.cs
  engine/Assets/Scripts/AutoUpdater.cs
  engine/Assets/Scripts/TestAnalytics.cs
  engine/Assets/Scripts/TestAnalytics.cs.meta
  engine/Assets/Scripts/UI/NavigationBar.cs
  engine/Assets/Scripts/UI/Panels/Variants/AddPanel/AddItem.cs
  engine/Assets/Scripts/UI/Panels/Variants/AddPanel/AddPanel.cs
  engine/Assets/Scripts/UI/Panels/Variants/Settings/SettingsPanel.cs
  engine/Assets/Scripts/UI/Panels/Variants/UpdatePromptPanel.cs
Labels: engine, analytics
