Repository Autodesk/synthesis, pull requests merged in 2021-07, with the labels that each got.

#726 UI Manager For Panel Spawning
  engine/Assets/Scenes/MainScene.unity
  engine/Assets/Scripts/UI/Bars/Bar.cs
  engine/Assets/Scripts/UI/UIManager.cs
Labels: engine

#727 Google Analytics Implementation
  engine/Assembly-CSharp.csproj
  engine/Assets/EditModeTests/AnalyticsTest.cs
  engine/Assets/EditModeTests/AnalyticsTest.cs.meta
  engine/Assets/EditModeTests/EditModeTests.asmdef
  engine/Assets/Scenes/MainScene.unity
  engine/Assets/Scripts/AnalyticsManager.cs
  engine/Assets/Scripts/AnalyticsManager.cs.meta
  engine/Assets/Scripts/CoreEngine.asmdef
  engine/Assets/Scripts/CoreEngine.asmdef.meta
  engine/Assets/Scripts/TestAnalytics.cs
  engine/Assets/Scripts/TestAnalytics.cs.meta
  engine/CoreEngine.csproj
  engine/EditModeTests.csproj
  engine/PlayModeTests.csproj
  engine/engine.sln
Labels: engine

#728 Settings Panel and UI
  engine/Assets/Prefabs/Bars/Add-Category.prefab
  engine/Assets/Prefabs/Bars/Nav-Bar.prefab
  engine/Assets/Prefabs/Bars/Variants/Tabs.meta
  engine/Assets/Prefabs/Bars/Variants/Tabs/Home-Tab Variant.prefab
  engine/Assets/Prefabs/Bars/Variants/Tabs/Home-Tab Variant.prefab.meta
  engine/Assets/Prefabs/Panels/Variants/SettingsPanel.meta
  engine/Assets/Prefabs/Panels/Variants/SettingsPanel/Settings Scroll Variant.prefab
  engine/Assets/Prefabs/Panels/Variants/SettingsPanel/Settings Scroll Variant.prefab.meta
  engine/Assets/Prefabs/Panels/Variants/SettingsPanel/Variants.meta
  engine/Assets/Prefabs/Panels/Variants/SettingsPanel/Variants/Settings Dropdown.prefab
  engine/Assets/Prefabs/Panels/Variants/SettingsPanel/Variants/Settings Dropdown.prefab.meta
  engine/Assets/Prefabs/Panels/Variants/SettingsPanel/Variants/Settings Keybind.prefab
  engine/Assets/Prefabs/Panels/Variants/SettingsPanel/Variants/Settings Keybind.prefab.meta
  engine/Assets/Prefabs/Panels/Variants/SettingsPanel/Variants/Settings Title.prefab
  engine/Assets/Prefabs/Panels/Variants/SettingsPanel/Variants/Settings Title.prefab.meta
  engine/Assets/Prefabs/Panels/Variants/SettingsPanel/Variants/Settings Toggle.prefab
  engine/Assets/Prefabs/Panels/Variants/SettingsPanel/Variants/Settings Toggle.prefab.meta
  engine/Assets/Scenes/MainScene.unity
  engine/Assets/Scripts/PTL.cs
  engine/Assets/Scripts/UI/Bars/Bar.cs
  engine/Assets/Scripts/UI/PanelManager.cs
  engine/Assets/Scripts/UI/PanelManager.cs.meta
  engine/Assets/Scripts/UI/Panels/Variants/AddPanel/AddPanel.cs
  engine/Assets/Scripts/UI/Panels/Variants/Settings/SettingsInput.cs
  engine/Assets/Scripts/UI/Panels/Variants/Settings/SettingsInput.cs.meta
  engine/Assets/Scripts/UI/Panels/Variants/Settings/SettingsPanel.cs
  engine/Assets/Scripts/UI/Panels/Variants/Settings/SettingsPanel.cs.meta
Labels: engine

#721 Added Tcp server to deserialize json objects
  api/Api/Api.csproj
  api/Api/Proto/Controller.cs
  api/Api/Utilities/TcpServer.cs
  api/Api/Utilities/UpdateMessage.cs
  api/TestApi/TestTcpServer.cs
  api/api.sln
  api/api.sln.DotSettings.user
  api/controller.proto
  api/protocols/v1/controller.proto
  importer/EngineImporter/obj/Debug/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
  importer/EngineImporter/obj/Debug/netstandard2.0/EngineImporter.AssemblyInfo.cs
  importer/EngineImporter/obj/Debug/netstandard2.0/EngineImporter.AssemblyInfoInputs.cache
  importer/EngineImporter/obj/Debug/netstandard2.0/EngineImporter.csproj.AssemblyReference.cache
  importer/EngineImporter/obj/Release/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
  importer/EngineImporter/obj/Release/netstandard2.0/EngineImporter.AssemblyInfo.cs
  importer/EngineImporter/obj/Release/netstandard2.0/EngineImporter.AssemblyInfoInputs.cache
  importer/TranslatorTest/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
  importer/TranslatorTest/obj/Debug/netcoreapp3.1/TranslatorTest.AssemblyInfo.cs
  importer/TranslatorTest/obj/Debug/netcoreapp3.1/TranslatorTest.AssemblyInfoInputs.cache
  importer/TranslatorTest/obj/Debug/netcoreapp3.1/TranslatorTest.csproj.AssemblyReference.cache
  importer/TranslatorTest/obj/Release/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
  importer/TranslatorTest/obj/Release/netcoreapp3.1/TranslatorTest.AssemblyInfo.cs
  importer/TranslatorTest/obj/Release/netcoreapp3.1/TranslatorTest.AssemblyInfoInputs.cache
  importer/aardvark/SimulatorFileIO/obj/Debug/SimulatorAPI.csproj.AssemblyReference.cache
Labels: api

#733 Transformational and Rotational Gizmo for objects
  engine/Assembly-CSharp.csproj
  engine/Assets/Prefabs/Bars/Nav-Bar.prefab
  engine/Assets/Prefabs/Game Objects.meta
  engine/Assets/Prefabs/Game Objects/Gizmos.meta
  engine/Assets/Prefabs/Game Objects/Gizmos/Arrow.3ds
  engine/Assets/Prefabs/Game Objects/Gizmos/Arrow.3ds.meta
  engine/Assets/Prefabs/Game Objects/Gizmos/Gizmo.prefab
  engine/Assets/Prefabs/Game Objects/Gizmos/Gizmo.prefab.meta
  engine/Assets/Scenes/MainScene.unity
  engine/Assets/Scripts/Camera/CameraController.cs
  engine/Assets/Scripts/Camera/GizmoCamera.cs
  engine/Assets/Scripts/Camera/GizmoCamera.cs.meta
  engine/Assets/Scripts/Gizmos.meta
  engine/Assets/Scripts/Gizmos/0rckortb.c4f~
  engine/Assets/Scripts/Gizmos/ArrowType.cs
  engine/Assets/Scripts/Gizmos/ArrowType.cs.meta
  engine/Assets/Scripts/Gizmos/GizmoManager.cs
  engine/Assets/Scripts/Gizmos/GizmoManager.cs.meta
  engine/Assets/Scripts/Gizmos/GizmoTester.cs
  engine/Assets/Scripts/Gizmos/GizmoTester.cs.meta
  engine/Assets/Scripts/Gizmos/MoveArrow.cs
  engine/Assets/Scripts/Gizmos/MoveArrow.cs.meta
  engine/Assets/Scripts/Gizmos/SelectableArrow.cs
  engine/Assets/Scripts/Gizmos/SelectableArrow.cs.meta
  engine/Assets/Scripts/Gizmos/a23jr1hw.lwq~
  engine/Assets/Scripts/Gizmos/js1qgnlo.vbf~
  engine/Assets/Scripts/Gizmos/qai024zu.ryi~
  engine/Assets/Scripts/Gizmos/qfeq2new.klb~
  engine/Assets/Scripts/Gizmos/s2axoabn.iej~
  engine/Assets/Scripts/Gizmos/w0jajd4h.qwg~
  engine/Assets/Scripts/Gizmos/wjpcqyxv.2yo~
  engine/Assets/Scripts/PTL.cs
  engine/Assets/Scripts/UI/Panels/Variants/Settings.meta
  engine/Assets/Sprites/arrow-selected.png
  engine/Assets/Sprites/arrow-selected.png.meta
  engine/Assets/Sprites/arrow.png
  engine/Assets/Sprites/arrow.png.meta
  engine/Assets/Sprites/point-marker.png
  engine/Assets/Sprites/point-marker.png.meta
  engine/Assets/Sprites/rotate-arrow-selected.png
  engine/Assets/Sprites/rotate-arrow-selected.png.meta
  engine/Assets/Sprites/rotate-arrow.png
  engine/Assets/Sprites/rotate-arrow.png.meta
  engine/CoreEngine.csproj
  engine/EditModeTests.csproj
  engine/PlayModeTests.csproj
  engine/ProjectSettings/TagManager.asset
  engine/engine.sln
Labels: engine

#737 Preference Manager and Input Manager modifications
  api/Api/InputManager/InputEvents.cs
  api/Api/InputManager/InputManager.cs
  api/Api/InputManager/Inputs.cs
  api/Api/PreferenceManager/PreferenceManager.cs
  api/Api/UIManager/UIManager.cs
Labels: api, engine

#734 Local Multiplayer Implementation
  engine/Assembly-CSharp.csproj
  engine/Assets/Prefabs/Bars/Nav-Bar.prefab
  engine/Assets/Prefabs/Buttons/ObjectRemove.prefab
  engine/Assets/Prefabs/Buttons/ObjectRemove.prefab.meta
  engine/Assets/Prefabs/Buttons/Tab-Holder.prefab
  engine/Assets/Prefabs/Panels/Variants/AddPanels/Variants/AddRobotItem Variant.prefab
  engine/Assets/Prefabs/Panels/Variants/ConfigurePanels/Drivetrain/Multiplayer.prefab
  engine/Assets/Prefabs/Panels/Variants/ConfigurePanels/Drivetrain/Multiplayer.prefab.meta
  engine/Assets/Prefabs/Panels/Variants/ConfigurePanels/Multiplayer.meta
  engine/Assets/Prefabs/Panels/Variants/ConfigurePanels/Multiplayer/ButtonGameObject.prefab
  engine/Assets/Prefabs/Panels/Variants/ConfigurePanels/Multiplayer/ButtonGameObject.prefab.meta
  engine/Assets/Prefabs/Panels/Variants/ConfigurePanels/Multiplayer/Multiplayer-Design Variant.prefab
  engine/Assets/Prefabs/Panels/Variants/ConfigurePanels/Multiplayer/Multiplayer-Design Variant.prefab.meta
  engine/Assets/Scenes/MainScene.unity
  engine/Assets/Scripts/ButtonPanel.cs
  engine/Assets/Scripts/ButtonPanel.cs.meta
  engine/Assets/Scripts/LocalMultiplayer.cs
  engine/Assets/Scripts/LocalMultiplayer.cs.meta
  engine/Assets/Scripts/MultiplayerSwitch.cs
  engine/Assets/Scripts/MultiplayerSwitch.cs.meta
  engine/Assets/Scripts/PTL.cs
  engine/Assets/Scripts/RemoveItem.cs
  engine/Assets/Scripts/RemoveItem.cs.meta
  engine/Assets/Scripts/RobotButtons.cs
  engine/Assets/Scripts/RobotButtons.cs.meta
  engine/Assets/Scripts/UI/Panels/Variants/AddPanel/AddItem.cs
  engine/CoreEngine.csproj
  engine/EditModeTests.csproj
  engine/PlayModeTests.csproj
  engine/engine.sln
Labels: engine
