Repository Autodesk/synthesis, pull requests merged in 2021-06, with the labels that each got.

#715 Importer Solution Cleanup
  engine/Assembly-CSharp.csproj
  engine/Assets/Packages/Api.dll.meta
  engine/Assets/Packages/EngineImporter.dll
  engine/Assets/Packages/SimulatorAPI.dll
  engine/Assets/Scripts/PTL.cs
  engine/CoreEngine.csproj
  importer/EngineImporter/DynamicObjectMeta.cs
  importer/EngineImporter/Importer.cs
  importer/EngineImporter/Logger.cs
  importer/EngineImporter/Proto/ProtoBot.cs
  importer/EngineImporter/Proto/ProtoField.cs
  importer/EngineImporter/Proto/ProtoRobot.cs
  importer/EngineImporter/Translator.cs
  importer/EngineImporter/Util/ImporterUtil.cs
  importer/EngineImporter/protocols/ProtoBot.proto
  importer/Importer.sln.DotSettings.user
  importer/TranslatorTest/UnitTests.cs
Labels: engine

#722 Disabled Module Specific CI Checks
  .github/workflows/Modules.yml
Labels: api

#718 Toolbar and Unity Resyncer
  .gitignore
  engine/Assembly-CSharp.csproj
  engine/Assets/Packages/EngineImporter.dll
  engine/Assets/Packages/SimulatorAPI.dll
  engine/Assets/PlayModeTests/CreateABall.cs
  engine/Assets/PlayModeTests/PlayModeTests.asmdef
  engine/Assets/Prefabs/Bars/Add-Category.prefab
  engine/Assets/Prefabs/Bars/Add-Category.prefab.meta
  engine/Assets/Prefabs/Bars/Nav-Bar.prefab
  engine/Assets/Prefabs/Bars/Nav-Bar.prefab.meta
  engine/Assets/Prefabs/Buttons/Tab-Button.prefab
  engine/Assets/Prefabs/Buttons/Tab-Button.prefab.meta
  engine/Assets/Prefabs/Buttons/Tab-Holder.prefab
  engine/Assets/Prefabs/Buttons/Tab-Holder.prefab.meta
  engine/Assets/Prefabs/Panels/Tab-Panel.prefab
  engine/Assets/Prefabs/Panels/Tab-Panel.prefab.meta
  engine/Assets/Scenes/MainScene.unity
  engine/Assets/Scripts/UI/Bars/Tabs.cs
  engine/Assets/Scripts/UI/Bars/Tabs.cs.meta
  engine/CoreEngine.csproj
  engine/engine.sln
  importer/EngineImporter/Util/UnityResyncer.cs
Labels: engine

#667 Updated Exporter Default Values
  exporter/SynthesisFusionGltfExporter/gltf/utils/FusionUtils.py
Labels: bug, fusion

#719 Updated hierarchy view with correct displays
  engine/Assembly-CSharp.csproj
  engine/Assets/Materials/New Lighting Settings.lighting
  engine/Assets/PlayModeTests/PlayModeTests.asmdef
  engine/Assets/Prefabs/Hierarchy/FolderItem.prefab
  engine/Assets/Prefabs/Hierarchy/H.prefab
  engine/Assets/Prefabs/Hierarchy/Hierarchy Folder Element.prefab
  engine/Assets/Prefabs/Hierarchy/ItemItem.prefab
  engine/Assets/Scenes/MainScene.unity
  engine/Assets/Scripts/UI/Hierarchy/Hierarchy.cs
  engine/Assets/TextMesh Pro/Resources/Fonts & Materials/LiberationSans SDF - Fallback.asset
  engine/Assets/TextMesh Pro/Shaders/TMP_Sprite.shader
  engine/CoreEngine.csproj
  engine/EditModeTests.csproj
  engine/PlayModeTests.csproj
  engine/ProjectSettings/ProjectSettings.asset
  engine/ProjectSettings/UnityConnectSettings.asset
  engine/ScriptAssembly.csproj
  engine/Scripts.csproj
  engine/engine.sln
Labels: engine
