Repository Autodesk/synthesis, pull requests merged in 2022-08, with the labels that each got.

#783 Camera modes
  api/Api/Simulation/SimObject.cs
  api/Api/Simulation/SimulationManager.cs
  engine/Assembly-CSharp.csproj
  engine/Assets/Packages/Aardvark.dll
  engine/Assets/Packages/Api.dll
  engine/Assets/Scripts/Behaviors/ArcadeDriveBehaviour.cs
  engine/Assets/Scripts/Camera/CameraController.cs
  engine/Assets/Scripts/Camera/FreeCameraMode.cs
  engine/Assets/Scripts/Camera/FreeCameraMode.cs.meta
  engine/Assets/Scripts/Camera/ICameraMode.cs
  engine/Assets/Scripts/Camera/ICameraMode.cs.meta
  engine/Assets/Scripts/Camera/OrbitCameraMode.cs
  engine/Assets/Scripts/Camera/OrbitCameraMode.cs.meta
  engine/Assets/Scripts/Camera/OverviewCameraMode.cs
  engine/Assets/Scripts/Camera/OverviewCameraMode.cs.meta
  engine/Assets/Scripts/Gizmos/MoveArrow.cs
  engine/Assets/Scripts/Importer/DynamicObjectMeta.cs
  engine/Assets/Scripts/Importer/DynamicObjectMeta.cs.meta
  engine/Assets/Scripts/Importer/EntityMeta.cs
  engine/Assets/Scripts/Importer/EntityMeta.cs.meta
  engine/Assets/Scripts/Importer/GamepieceTag.cs
  engine/Assets/Scripts/Importer/GamepieceTag.cs.meta
  engine/Assets/Scripts/Importer/Importer.cs
  engine/Assets/Scripts/Modes/ModeManager.cs
  engine/Assets/Scripts/SimObjects/RobotSimObject.cs
  engine/Assets/Scripts/UI/Dynamic/MainHUD.cs
  engine/Assets/Scripts/UI/Dynamic/Modals/ChangeViewModal.cs
  engine/Assets/Scripts/UI/Dynamic/Modals/ChangeViewModal.cs.meta
  engine/Assets/Scripts/UI/Dynamic/Panels/SpawnLocationPanel.cs
  engine/Assets/Scripts/UI/Panels/Variants/Settings/SettingsPanel.cs
  engine/Assets/Scripts/UI/Tabs/HomeTab.cs
  engine/CoreEngine.csproj
  engine/engine.sln
Labels: engine

#787 New Input UI
  engine/Assets/Prefabs/ModalsDYN/UIComponents/labeled-button-base.prefab
  engine/Assets/Scripts/Behaviors/ArcadeDriveBehaviour.cs
  engine/Assets/Scripts/Behaviors/GeneralArmBehaviour.cs
  engine/Assets/Scripts/Behaviors/GeneralSliderBehaviour.cs
  engine/Assets/Scripts/Behaviors/TankDriveBehavior.cs
  engine/Assets/Scripts/Modes/PracticeMode.cs
  engine/Assets/Scripts/SimObjects/RobotSimObject.cs
  engine/Assets/Scripts/UI/Dynamic/Modals/Configuring/ChangeInputsModal.cs
  engine/Assets/Scripts/UI/Dynamic/Modals/Configuring/ChangeInputsModal.cs.meta
  engine/engine.sln.DotSettings.user
Labels: engine

#777 Feature/thumbnail
  exporter/SynthesisFusionAddin/README.md
  exporter/SynthesisFusionAddin/Synthesis.py
  exporter/SynthesisFusionAddin/proto/build.sh
  exporter/SynthesisFusionAddin/proto/deps.py
  exporter/SynthesisFusionAddin/pyproject.toml
  exporter/SynthesisFusionAddin/src/GlobalManager.py
  exporter/SynthesisFusionAddin/src/Parser/ParseOptions.py
  exporter/SynthesisFusionAddin/src/Parser/SynthesisParser/Components.py
  exporter/SynthesisFusionAddin/src/Parser/SynthesisParser/Joints.py
  exporter/SynthesisFusionAddin/src/Parser/SynthesisParser/Parser.py
  exporter/SynthesisFusionAddin/src/Parser/SynthesisParser/Utilities.py
  exporter/SynthesisFusionAddin/src/UI/Camera.py
  exporter/SynthesisFusionAddin/src/UI/ConfigCommand.py
  exporter/SynthesisFusionAddin/src/UI/Configuration/SerialCommand.py
  exporter/SynthesisFusionAddin/src/UI/CustomGraphics.py
  exporter/SynthesisFusionAddin/src/UI/HUI.py
  exporter/SynthesisFusionAddin/src/UI/Helper.py
  exporter/SynthesisFusionAddin/src/UI/IconPaths.py
  exporter/SynthesisFusionAddin/src/UI/MarkingMenu.py
  exporter/SynthesisFusionAddin/src/UI/TableUtilities.py
Labels: no-merge

#789 Improvements to Practice Mode
  engine/Assets/Scripts/Camera/OrbitCameraMode.cs
  engine/Assets/Scripts/Modes/PracticeMode.cs
  engine/Assets/Scripts/ModuleLoader/Api.cs
  engine/Assets/Scripts/SimObjects/FieldSimObject.cs
  engine/Assets/Scripts/SimObjects/RobotSimObject.cs
  engine/Assets/Scripts/SimulationRunner.cs
  engine/Assets/Scripts/UI/Dynamic/MainHUD.cs
  engine/Assets/Scripts/UI/Dynamic/Modals/Configuring/PracticeSettingsModal.cs
  engine/Assets/Scripts/UI/Dynamic/Modals/ExitSynthesisModal.cs
  engine/CoreEngine.csproj
  engine/UserSettings/EditorUserSettings.asset
Labels: engine

#793 In-Synthesis Downloader
  engine/Assembly-CSharp.csproj
  engine/Assets/Scripts/UI/Dynamic/MainHUD.cs
  engine/Assets/Scripts/UI/Dynamic/Modals/DownloadAssetModal.cs
  engine/Assets/Scripts/UI/Dynamic/Modals/DownloadAssetModal.cs.meta
  engine/CoreEngine.csproj
  engine/engine.sln
Labels: engine

#795 Toastlogger Touchup
  engine/Assembly-CSharp.Player.csproj
  engine/Assets/Prefabs/ToastLogger/Toast.prefab
  engine/Assets/Scripts/UI/Dynamic/Modals/ToastModal.cs
  engine/Assets/Scripts/UI/Dynamic/Modals/ToastModal.cs.meta
  engine/Assets/Scripts/UI/ToastLogger/ToastConfig.cs
  engine/CoreEngine.Player.csproj
  engine/EditModeTests.csproj
  engine/PlayModeTests.Player.csproj
  engine/PlayModeTests.csproj
Labels: engine

#794 Replay Reintegration
  api/Api/InputManager/InputManager.cs
  engine/Assets/Packages/Api.dll
  engine/Assets/Scenes/MainScene.unity
  engine/Assets/Scripts/Physics/PhysicsManager.cs
  engine/Assets/Scripts/Physics/ReplayManager.cs
  engine/Assets/Scripts/Physics/ReplayRunner.cs
  engine/Assets/Scripts/SimulationRunner.cs
  engine/Assets/Scripts/UI/Dynamic/DynamicUIManager.cs
  engine/CoreEngine.csproj
  engine/UserSettings/EditorUserSettings.asset
  engine/engine.sln
Labels: engine

#790 Linux md5
  README.md
  installer/Linux/.gitignore
  installer/Linux/README.md
  installer/Linux/Synthesis.AppDir/.DirIcon
  installer/Linux/Synthesis.AppDir/AppRun
  installer/Linux/Synthesis.AppDir/synthesis.desktop
  installer/Linux/package.sh
Labels: installer

#798 NSIS Updates
  installer/Windows/.gitignore
  installer/Windows/Apache2.txt
  installer/Windows/MainInstaller.nsi
Labels: installer
