Repository Autodesk/synthesis, pull requests merged in 2023-06, with the labels that each got.

#831 Linked Parts
  api/Api/Simulation/SimBehaviour.cs
  api/Api/Simulation/SimObject.cs
  engine/Assembly-CSharp.csproj
  engine/Assets/Packages/Aardvark.dll
  engine/Assets/Packages/Api.dll
  engine/Assets/Scripts/Behaviors/ArcadeDriveBehaviour.cs
  engine/Assets/Scripts/Behaviors/GeneralArmBehaviour.cs
  engine/Assets/Scripts/Behaviors/GeneralSliderBehaviour.cs
  engine/Assets/Scripts/Behaviors/TankDriveBehavior.cs
  engine/Assets/Scripts/Importer/MirabufLive.cs
  engine/Assets/Scripts/Modes/PracticeMode.cs
  engine/Assets/Scripts/UI/Dynamic/Modals/Configuring/ChangeInputsModal.cs
  engine/Assets/Scripts/UI/Panels/Variants/Input/InputPanel.cs
  engine/Assets/Scripts/UI/Panels/Variants/Input/InputSelection.cs
  engine/CoreEngine.csproj
  exporter/SynthesisFusionAddin/src/Parser/SynthesisParser/Components.py
  exporter/SynthesisFusionAddin/src/Parser/SynthesisParser/JointHierarchy.py
  exporter/SynthesisFusionAddin/src/Parser/SynthesisParser/Joints.py
  exporter/SynthesisFusionAddin/src/Parser/SynthesisParser/Utilities.py
  exporter/SynthesisFusionAddin/src/UI/ConfigCommand.py
Labels: bug, fusion

#830 SwerveDrive
  .gitignore
  api/Api/Mirabuf/JointInstance.cs
  api/Api/Simulation/Driver.cs
  api/Api/Simulation/SimBehaviour.cs
  api/Api/Simulation/SimulationManager.cs
  api/Api/WebSockets/WebSocketServer.cs
  api/BenchmarkApi/Program.cs
  engine/.gitignore
  engine/.vscode/settings.json
  engine/Assembly-CSharp.csproj
  engine/Assets/Packages/Aardvark.dll
  engine/Assets/Packages/Api.dll
  engine/Assets/Scenes/MainScene.unity
  engine/Assets/Scripts/Behaviors/ArcadeDriveBehaviour.cs
  engine/Assets/Scripts/Behaviors/GeneralArmBehaviour.cs
  engine/Assets/Scripts/Behaviors/SwerveDriveBehaviour.cs
  engine/Assets/Scripts/Behaviors/SwerveDriveBehaviour.cs.meta
  engine/Assets/Scripts/Behaviors/TankDriveBehavior.cs
  engine/Assets/Scripts/Drivers/RotationalDriver.cs
  engine/Assets/Scripts/Drivers/WheelDriver.cs
  engine/Assets/Scripts/Drivers/WheelDriver.cs.meta
  engine/Assets/Scripts/Importer/Importer.cs
  engine/Assets/Scripts/Modes/ModeManager.cs
  engine/Assets/Scripts/Modes/PracticeMode.cs
  engine/Assets/Scripts/Physics/CustomWheel.cs
  engine/Assets/Scripts/Physics/PhysicsManager.cs
  engine/Assets/Scripts/PreferenceManager/SimulationPreferences.cs
  engine/Assets/Scripts/Scoring/Shooting.cs
  engine/Assets/Scripts/SimObjects/RobotSimObject.cs
  engine/Assets/Scripts/SimulationRunner.cs
  engine/Assets/Scripts/UI/Dynamic/Modals/Configuring/ChangeDrivetrainModal.cs
  engine/Assets/Scripts/UI/Dynamic/Modals/Configuring/ChangeDrivetrainModal.cs.meta
  engine/Assets/Scripts/UI/Dynamic/Modals/Spawning/MatchModeModal.cs
  engine/Assets/Scripts/UI/Panels/Variants/Configuration/Joints/ConfigureJointsPanel.cs
  engine/Assets/Scripts/WebSockets/WebSocketManager.cs
  engine/CoreEngine.csproj
  engine/ProjectSettings/GraphicsSettings.asset
Labels: engine

#835 Fixed swerve turning backwards
  engine/Assets/Scripts/Behaviors/SwerveDriveBehaviour.cs
  engine/Assets/Scripts/SimObjects/RobotSimObject.cs
Labels: bug

#846 README CI Badges
  README.md
  api/README.md
  engine/README.md
Labels: documentation

#839 Module Loader Uncomment
  engine/Assets/Scripts/CoreEngine.asmdef
  engine/Assets/Scripts/ModuleLoader/ModuleLoader.cs
  engine/EngineDeps/EngineDeps.csproj
  engine/EngineDeps/copy_deps.bat
  engine/EngineDeps/copy_deps.sh
Labels: engine

#851 Assign a robots parent object to the correct layer
  engine/Assets/Scripts/Importer/MirabufLive.cs
Labels: bug

#844 Codeowners file
  .github/CODEOWNERS
Labels: enhancement

#854 API Nullable Fixes
  api/Api/Api.csproj
  api/Api/AssetManager/Asset.cs
  api/Api/AssetManager/AssetManager.cs
  api/Api/AssetManager/AudioClipAsset.cs
  api/Api/AssetManager/BinaryAsset.cs
  api/Api/AssetManager/JsonAsset.cs
  api/Api/AssetManager/LazyAsset.cs
  api/Api/AssetManager/SpriteAsset.cs
  api/Api/AssetManager/TextAsset.cs
  api/Api/AssetManager/UssAsset.cs
  api/Api/AssetManager/VisualElementAsset.cs
  api/Api/EnvironmentManager/Components/AudioSource.cs
  api/Api/EnvironmentManager/Components/FixedJoint.cs
  api/Api/EnvironmentManager/Components/HingeJoint.cs
  api/Api/EnvironmentManager/Components/Mesh.cs
  api/Api/EnvironmentManager/Components/MeshCollider.cs
  api/Api/EnvironmentManager/Components/Parent.cs
  api/Api/EnvironmentManager/Components/Rigidbody.cs
  api/Api/EnvironmentManager/Components/Sprite.cs
  api/Api/EnvironmentManager/Components/Transform.cs
  api/Api/EventBus/Analytics.cs
  api/Api/EventBus/EventBus.cs
  api/Api/GUI/GUIManager.cs
  api/Api/InputManager/InputManager.cs
  api/Api/InputManager/Inputs.cs
  api/Api/Mirabuf/Assembly.cs
  api/Api/Mirabuf/TriangleMesh.cs
  api/Api/PreferenceManager/PreferenceManager.cs
  api/Api/Runtime/ApiProvider.cs
  api/Api/UIManager/UIParser.cs
  api/Api/UIManager/VisualElements/ListView.cs
  api/Api/UIManager/VisualElements/VisualElement.cs
  api/Api/Utilities/ControllableState.cs
  api/Api/Utilities/SharedTextStream.cs
  api/Api/Utilities/TranslatorUtil.cs
  api/Api/Utilities/UdpServer.cs
  api/Api/VirtualFileSystem/Directory.cs
  api/Api/VirtualFileSystem/IEntry.cs
  api/Api/WebSockets/WebSocketServer.cs
Labels: api

#850 Robot Driving Backwards
  engine/.gitignore
  engine/Assets/Scripts/Drivers/WheelDriver.cs
  engine/Assets/Scripts/Physics/CustomWheel.cs
Labels: bug

#849 AsBuiltJoint Selection and Black Format Validation
  .github/workflows/BlackFormat.yml
  exporter/SynthesisFusionAddin/src/Parser/ParseOptions.py
  exporter/SynthesisFusionAddin/src/Parser/SynthesisParser/Components.py
  exporter/SynthesisFusionAddin/src/Parser/SynthesisParser/JointHierarchy.py
  exporter/SynthesisFusionAddin/src/Parser/SynthesisParser/Joints.py
  exporter/SynthesisFusionAddin/src/Parser/SynthesisParser/Materials.py
  exporter/SynthesisFusionAddin/src/Parser/SynthesisParser/PDMessage.py
  exporter/SynthesisFusionAddin/src/Parser/SynthesisParser/Parser.py
  exporter/SynthesisFusionAddin/src/Parser/SynthesisParser/Utilities.py
  exporter/SynthesisFusionAddin/src/UI/ConfigCommand.py
  exporter/SynthesisFusionAddin/src/UI/HUI.py
Labels: bug, enhancement, fusion

#860 Fixed `engine/EngineDeps/setup.bat` coloring
  engine/EngineDeps/setup.bat
Labels: bug

#855 Goal Zone Creation
  .gitignore
  engine/Assets/Prefabs/ModalsDYN/UIComponents/number-input-field-base.prefab
  engine/Assets/Prefabs/ModalsDYN/UIComponents/number-input-field-base.prefab.meta
  engine/Assets/Scenes/MainScene.unity
  engine/Assets/Scripts/Modes/MatchMode.cs
  engine/Assets/Scripts/Modes/ModeManager.cs
  engine/Assets/Scripts/Modes/PracticeMode.cs
  engine/Assets/Scripts/Physics/PhysicsManager.cs
  engine/Assets/Scripts/PreferenceManager/PreferenceManager.cs
  engine/Assets/Scripts/Scoring/Scoring.cs
  engine/Assets/Scripts/Scoring/ScoringZone.cs
  engine/Assets/Scripts/Scoring/ShootableGamepiece.cs
  engine/Assets/Scripts/Scoring/TempScoreManager.cs
  engine/Assets/Scripts/Scoring/TempScoreManager.cs.meta
  engine/Assets/Scripts/SimObjects/FieldSimObject.cs
  engine/Assets/Scripts/SimulationRunner.cs
  engine/Assets/Scripts/UI/Dynamic/DynamicUIComponents.cs
  engine/Assets/Scripts/UI/Dynamic/DynamicUIManager.cs
  engine/Assets/Scripts/UI/Dynamic/Modals/Configuring/SettingsModal.cs
  engine/Assets/Scripts/UI/Dynamic/Modals/ExitSynthesisModal.cs
  engine/Assets/Scripts/UI/Dynamic/Modals/Spawning/MatchModeModal.cs
  engine/Assets/Scripts/UI/Dynamic/Panels/Configuring/Scoring.meta
  engine/Assets/Scripts/UI/Dynamic/Panels/Configuring/Scoring/ScoringZonesPanel.cs
  engine/Assets/Scripts/UI/Dynamic/Panels/Configuring/Scoring/ScoringZonesPanel.cs.meta
  engine/Assets/Scripts/UI/Dynamic/Panels/Configuring/Scoring/ZoneConfigPanel.cs
  engine/Assets/Scripts/UI/Dynamic/Panels/Configuring/Scoring/ZoneConfigPanel.cs.meta
  engine/Assets/Scripts/UI/Dynamic/Panels/Configuring/StartMatchModePanel.cs
  engine/Assets/Scripts/UI/Dynamic/Panels/Information/ScoreboardPanel.cs
  engine/Assets/Scripts/UI/Dynamic/Panels/Information/ScoreboardPanel.cs.meta
  engine/Assets/Scripts/UI/Dynamic/Panels/SpawnLocationPanel.cs
Labels: engine
