Repository Autodesk/synthesis, pull requests merged in 2023-08, with the labels that each got.

#909 Save Controls Compatibility
  engine/Assets/Scripts/PreferenceManager/PreferenceManager.cs
  engine/Assets/Scripts/SimObjects/RobotSimObject.cs
Labels: engine, hotfix

#911 Beta bugs
  engine/Assets/Prefabs/MainMenu/MenuPanel.prefab
  engine/Assets/Scenes/GridMenuScene.unity
  engine/Assets/Scripts/Gizmos/GizmoManager.cs
  engine/Assets/Scripts/GodMode.cs
  engine/Assets/Scripts/Modes/Aether/ServerTestMode.cs
  engine/Assets/Scripts/Modes/MatchMode/MatchMode.cs
  engine/Assets/Scripts/Modes/MatchMode/MatchStateMachine.cs
  engine/Assets/Scripts/ModuleLoader/Api.cs
  engine/Assets/Scripts/Physics/PhysicsManager.cs
  engine/Assets/Scripts/Scoring/Scoring.cs
  engine/Assets/Scripts/Scoring/ScoringZone.cs
  engine/Assets/Scripts/SimulationRunner.cs
  engine/Assets/Scripts/UI/Dynamic/DynamicUIComponents.cs
  engine/Assets/Scripts/UI/Dynamic/DynamicUIManager.cs
  engine/Assets/Scripts/UI/Dynamic/MainHUD.cs
  engine/Assets/Scripts/UI/Dynamic/Modals/Configuring/ChooseMultiplayerModeModal.cs
  engine/Assets/Scripts/UI/Dynamic/Modals/Configuring/ChooseSingleplayerModeModal.cs
  engine/Assets/Scripts/UI/Dynamic/Modals/Configuring/ConfigMotorModal.cs
  engine/Assets/Scripts/UI/Dynamic/Modals/Configuring/SettingsModal.cs
  engine/Assets/Scripts/UI/Dynamic/Modals/ExitSynthesisModal.cs
  engine/Assets/Scripts/UI/Dynamic/Modals/MatchResultsModal.cs
  engine/Assets/Scripts/UI/Dynamic/Panels/Configuring/Scoring/ScoringZonesPanel.cs
  engine/Assets/Scripts/UI/Dynamic/Panels/Information/ScoreboardPanel.cs
  engine/Assets/Scripts/UI/Dynamic/Panels/SpawnLocationPanel.cs
  engine/Assets/Scripts/UI/Dynamic/Toaster.cs
  engine/Assets/Scripts/UI/MainMenu/LinksTween.cs
  engine/Assets/Scripts/UI/MainMenu/MenuGraphic.cs
  engine/Assets/Scripts/Utilities/Tween/SynthesisTween.cs
  engine/ProjectSettings/ProjectSettings.asset
  exporter/SynthesisFusionAddin/src/Parser/SynthesisParser/Components.py
Labels: bug, hotfix

#922 Fixed COM
  engine/Assets/Scripts/Importer/MirabufLive.cs
Labels: bug, engine

#921 Selection Race Case Bug
  exporter/SynthesisFusionAddin/src/Parser/SynthesisParser/Materials.py
  exporter/SynthesisFusionAddin/src/UI/ConfigCommand.py
Labels: bug, fusion

#907 Save Controls
  api/Api/InputManager/InputManager.cs
  api/Api/Simulation/SimBehaviour.cs
  engine/Assets/Prefabs/ModalsDYN/UIComponents/labeled-button-base.prefab
  engine/Assets/Scenes/GridMenuScene.unity
  engine/Assets/Scripts/Behaviors/ArcadeDriveBehaviour.cs
  engine/Assets/Scripts/Behaviors/GeneralArmBehaviour.cs
  engine/Assets/Scripts/Behaviors/GeneralSliderBehaviour.cs
  engine/Assets/Scripts/Behaviors/SwerveDriveBehaviour.cs
  engine/Assets/Scripts/Behaviors/TankDriveBehavior.cs
  engine/Assets/Scripts/GodMode.cs
  engine/Assets/Scripts/Modes/PracticeMode.cs
  engine/Assets/Scripts/PreferenceManager/SimulationPreferences.cs
  engine/Assets/Scripts/SimObjects/RobotSimObject.cs
  engine/Assets/Scripts/UI/Dynamic/MainHUD.cs
  engine/Assets/Scripts/UI/Dynamic/Modals/Configuring/ChangeDrivetrainModal.cs
  engine/Assets/Scripts/UI/Dynamic/Modals/Configuring/ChangeInputsModal.cs
  engine/Assets/Scripts/UI/Dynamic/Modals/Configuring/ConfigMotorModal.cs
  engine/Assets/Scripts/UI/Dynamic/Modals/Configuring/RioConfigurationModal.cs
  engine/Assets/Scripts/UI/Dynamic/Modals/DownloadAssetModal.cs
  engine/Assets/Scripts/UI/Dynamic/Modals/Spawning/AddRobotModal.cs
  engine/Assets/Scripts/UI/Dynamic/Panels/Configuring/ConfigureGamepiecePickupPanel.cs
  engine/Assets/Scripts/UI/Dynamic/Panels/Configuring/ConfigureShotTrajectoryPanel.cs
  engine/Assets/Scripts/UI/Dynamic/Panels/Configuring/Scoring/ZoneConfigPanel.cs
  engine/Assets/Scripts/UI/Dynamic/Panels/RobotSwitchPanel.cs
  engine/Assets/Scripts/UI/Dynamic/Panels/SpawnLocationPanel.cs
  engine/Assets/Scripts/UI/MainMenu/SocialMediaButtons.cs
Labels: engine

#925 Contribution Guide Update
  CONTRIBUTING.md
  README.md
  contributing.md
Labels: documentation

#927 Fixed modal/panel tween issue
  engine/Assets/Scripts/UI/Dynamic/DynamicUIManager.cs
  engine/Assets/Scripts/Utilities/Tween/SynthesisTween.cs
Labels: engine

#928 Fixed gizmo object and cleaned up movearrow.cs
  engine/Assets/Scripts/Camera/OrbitCameraMode.cs
  engine/Assets/Scripts/Gizmos/MoveArrow.cs
Labels: engine

#926 More Beta Changes
  engine/Assets/Prefabs/ModalsDYN/UIComponents/dropdown-base.prefab
  engine/Assets/Prefabs/ModalsDYN/dynamic-modal-base.prefab
  engine/Assets/Prefabs/ModalsDYN/dynamic-panel-base.prefab
  engine/Assets/Scripts/Modes/MatchMode/MatchMode.cs
  engine/Assets/Scripts/Modes/MatchMode/MatchStateMachine.cs
  engine/Assets/Scripts/UI/Dynamic/DynamicUIComponents.cs
  engine/Assets/Scripts/UI/Dynamic/DynamicUIManager.cs
  engine/Assets/Scripts/UI/Dynamic/MainHUD.cs
  engine/Assets/Scripts/UI/Dynamic/Modals/Configuring/ChangeInputsModal.cs
  engine/Assets/Scripts/UI/Dynamic/Modals/Configuring/RioConfigurationModal.cs
  engine/Assets/Scripts/UI/Dynamic/Modals/Configuring/ThemeEditor/DeleteAllThemesModal.cs
  engine/Assets/Scripts/UI/Dynamic/Modals/Configuring/ThemeEditor/DeleteThemeModal.cs
  engine/Assets/Scripts/UI/Dynamic/Modals/Configuring/ThemeEditor/EditThemeModal.cs
  engine/Assets/Scripts/UI/Dynamic/Modals/Spawning/AddFieldModal.cs
  engine/Assets/Scripts/UI/Dynamic/Modals/Spawning/AddRobotModal.cs
  engine/Assets/Scripts/UI/Dynamic/Modals/Spawning/SpawningModal.cs
  engine/Assets/Scripts/UI/Dynamic/Panels/Configuring/Scoring/ScoringZonesPanel.cs
  engine/Assets/Scripts/UI/Dynamic/Panels/RobotSwitchPanel.cs
  engine/Assets/Scripts/UI/Dynamic/Panels/Spawning/SpawnLocationPanel.cs
  engine/Assets/Scripts/UI/Dynamic/Panels/Tooltip/TooltipPanel.cs
  engine/Assets/Scripts/UI/EventListeners/HoverEventListener.cs
  engine/Assets/Scripts/UI/ToastLogger/ToastLogger.cs
Labels: engine

#934 Bug fix: Buttons colors not changing
  engine/Assets/Scripts/UI/Dynamic/MainHUD.cs
  engine/Assets/Scripts/UI/Dynamic/Panels/Information/ScoreboardPanel.cs
Labels: bug

#940 Codeowner file update
  .github/CODEOWNERS
Labels: documentation

#937 Last minute bugs
  engine/Assets/Prefabs/AssetCollection.prefab
  engine/Assets/Prefabs/HUD/MainHUD.prefab
  engine/Assets/Prefabs/HUD/hud-drawer-item-base.prefab
  engine/Assets/Scripts/Analytics/AnalyticsManager.cs
  engine/Assets/Scripts/Gizmos/GizmoManager.cs
  engine/Assets/Scripts/SimObjects/RobotSimObject.cs
  engine/Assets/Scripts/UI/Dynamic/MainHUD.cs
  engine/Assets/Scripts/UI/Dynamic/Modals/MixAndMatch/MixAndMatchModal.cs
  engine/Assets/Scripts/UI/Dynamic/Panels/Configuring/Scoring/ZoneConfigPanel.cs
  engine/Assets/Scripts/UI/Dynamic/Panels/MixAndMatch/PartEditorPanel.cs
  engine/Assets/Scripts/UI/Dynamic/Panels/RobotSwitchPanel.cs
  engine/Assets/Scripts/UI/EventListeners/HoverEventListener.cs
Labels: engine

#938 Readme + script updates
  README.md
  api/README.md
  api/build.bat
  api/build.sh
  docs/README.md
  docs/multiplayer-design.md
  engine/README.md
  engine/install_deps.bat
  exporter/README.md
  exporter/SynthesisFusionAddin/README.md
  protocols/README.md
  scripts/format/README.md
  scripts/format/link_llvm.bat
  scripts/osx/resolve_standard_conflicts.sh
  scripts/win/resolve_deps.bat
  scripts/win/resolve_standard_conflicts.bat
Labels: documentation

#933 Codelab Tutorial Updates
  tutorials/.gitignore
  tutorials/CodeSimulation.md
  tutorials/ConfigMode.md
  tutorials/FusionExporter.md
  tutorials/Makefile
  tutorials/MatchMode.md
  tutorials/PracticeMode.md
  tutorials/README.md
  tutorials/ReplayMode.md
  tutorials/RobotBuilder.md
  tutorials/Utilities.md
  tutorials/img/fusion/exporter-advanced.png
  tutorials/img/fusion/exporter-general.png
  tutorials/img/fusion/exporter-robot.png
  tutorials/img/synthesis/asset-downloader.png
  tutorials/img/synthesis/change-drivetrain-panel.png
  tutorials/img/synthesis/choose-mode-modal.png
  tutorials/img/synthesis/config-mode.png
  tutorials/img/synthesis/god-mode-dragging.png
  tutorials/img/synthesis/match-mode-results.png
  tutorials/img/synthesis/match-mode-scoring.png
  tutorials/img/synthesis/match-mode-setup.png
  tutorials/img/synthesis/motor-config.png
  tutorials/img/synthesis/multibot.png
  tutorials/img/synthesis/replay-mode.png
  tutorials/img/synthesis/robot-builder.png
  tutorials/img/synthesis/robot-editor-1.png
  tutorials/img/synthesis/robot-editor-2.png
  tutorials/img/synthesis/settings-panel.png
  tutorials/img/synthesis/theme-editor.png
  tutorials/img/synthesis/view-panel.png
Labels: documentation
