Repository Autodesk/synthesis, pull requests merged in 2023-07, with the labels that each got.

#865 Freecam and Field Spawn locations
  engine/Assets/Scripts/Camera/FreeCameraMode.cs
  engine/Assets/Scripts/Camera/OrbitCameraMode.cs
  engine/Assets/Scripts/Modes/MatchStateMachine.cs
  engine/Assets/Scripts/SimObjects/FieldSimObject.cs
Labels: enhancement, engine

#862 Match Mode Results
  engine/Assets/Scripts/Modes/MatchMode.cs
  engine/Assets/Scripts/Modes/MatchMode.meta
  engine/Assets/Scripts/Modes/MatchMode/MatchMode.cs
  engine/Assets/Scripts/Modes/MatchMode/MatchMode.cs.meta
  engine/Assets/Scripts/Modes/MatchMode/MatchResultsTracker.cs
  engine/Assets/Scripts/Modes/MatchMode/MatchResultsTracker.cs.meta
  engine/Assets/Scripts/Modes/MatchMode/MatchStateMachine.cs
  engine/Assets/Scripts/Modes/MatchMode/MatchStateMachine.cs.meta
  engine/Assets/Scripts/Modes/PracticeMode.cs
  engine/Assets/Scripts/UI/Dynamic/Modals/Configuring/ChooseModeModal.cs
  engine/Assets/Scripts/UI/Dynamic/Modals/MatchResultsModal.cs
  engine/Assets/Scripts/UI/Dynamic/Modals/Spawning/MatchModeModal.cs
  engine/Assets/Scripts/UI/Dynamic/Panels/Configuring/StartMatchModePanel.cs
  engine/Assets/Scripts/UI/Dynamic/Panels/SpawnLocationPanel.cs
  engine/Unity.Mathematics.Editor.csproj
  engine/Unity.Mathematics.csproj
  engine/Unity.Rider.Editor.csproj
  engine/Unity.Searcher.Editor.csproj
  engine/Unity.Sysroot.Linux_x86_64.csproj
  engine/Unity.SysrootPackage.Editor.csproj
  engine/Unity.TextMeshPro.Editor.csproj
  engine/Unity.TextMeshPro.csproj
  engine/Unity.Timeline.Editor.csproj
  engine/Unity.Timeline.csproj
  engine/Unity.Toolchain.Win-x86_64-Linux-x86_64.csproj
  engine/Unity.VSCode.Editor.csproj
  engine/Unity.VisualStudio.Editor.csproj
  engine/UnityEditor.TestRunner.csproj
  engine/UnityEngine.TestRunner.csproj
Labels: engine

#870 Server Fixes
  api/Api/Aether/Lobby/LobbyClient.cs
  api/Api/Aether/Lobby/LobbyServer.cs
  api/Api/Simulation/ControllableState.cs
  api/Api/Simulation/Driver.cs
  api/Api/Simulation/SimObject.cs
  api/Api/Utilities/RobotManager.cs
  api/Api/Utilities/UdpServer.cs
  engine/Assets/Scripts/Camera/FreeCameraMode.cs
  engine/Assets/Scripts/Camera/OrbitCameraMode.cs
  engine/Assets/Scripts/Modes/MatchStateMachine.cs
  engine/Assets/Scripts/Modes/ModeManager.cs
  engine/Assets/Scripts/ServerMonobehaviour.cs
  engine/Assets/Scripts/ServerMonobehaviour.cs.meta
  engine/Assets/Scripts/ServersMonoBehavior.cs
  engine/Assets/Scripts/ServersMonoBehavior.cs.meta
  engine/Assets/Scripts/SimObjects/FieldSimObject.cs
  engine/Assets/Scripts/UI/Dynamic/Modals/Configuring/ChooseModeModal.cs
  engine/Assets/Scripts/WebSockets/RioTranslationLayer.cs
Labels: bug, engine

#874 Match End Options
  engine/Assets/Scripts/Modes/MatchMode/MatchMode.cs
  engine/Assets/Scripts/Modes/MatchMode/MatchResultsTracker.cs
  engine/Assets/Scripts/Modes/MatchMode/MatchStateMachine.cs
  engine/Assets/Scripts/SimObjects/RobotSimObject.cs
  engine/Assets/Scripts/UI/Dynamic/DynamicUIComponents.cs
  engine/Assets/Scripts/UI/Dynamic/Modals/MatchResultsModal.cs
  engine/Assets/Scripts/UI/Dynamic/Modals/Spawning/MatchModeModal.cs
  engine/Assets/Scripts/UI/Dynamic/Panels/SpawnLocationPanel.cs
Labels: engine

#885 Match End Options Restore
  engine/Assets/Scripts/Modes/MatchMode/MatchMode.cs
  engine/Assets/Scripts/Modes/MatchMode/MatchStateMachine.cs
  engine/Assets/Scripts/SimObjects/RobotSimObject.cs
  engine/Assets/Scripts/UI/Dynamic/DynamicUIComponents.cs
  engine/Assets/Scripts/UI/Dynamic/Modals/MatchResultsModal.cs
  engine/Assets/Scripts/UI/Dynamic/Modals/Spawning/MatchModeModal.cs
  engine/Assets/Scripts/UI/Dynamic/Panels/SpawnLocationPanel.cs
Labels: hotfix

#880 Upgrade to Unity Analytics
  engine/Assets/Scenes/MainScene.unity
  engine/Assets/Scripts/Analytics.meta
  engine/Assets/Scripts/Analytics/AnalyticsManager.cs
  engine/Assets/Scripts/Analytics/AnalyticsManager.cs.meta
  engine/Assets/Scripts/AnalyticsManager.cs
  engine/Assets/Scripts/AutoUpdater.cs
  engine/Assets/Scripts/CoreEngine.asmdef
  engine/Assets/Scripts/Modes/MatchMode/MatchStateMachine.cs
  engine/Assets/Scripts/SimObjects/FieldSimObject.cs
  engine/Assets/Scripts/SimObjects/RobotSimObject.cs
  engine/Assets/Scripts/UI/Dynamic/DynamicUIManager.cs
  engine/Assets/Scripts/UI/Dynamic/Modals/Configuring/ChangeDrivetrainModal.cs
  engine/Assets/Scripts/UI/Dynamic/Modals/Configuring/SettingsModal.cs
  engine/Assets/Scripts/UI/Dynamic/Modals/ExitSynthesisModal.cs
  engine/Assets/Scripts/UI/Dynamic/Panels/Configuring/Scoring/ZoneConfigPanel.cs
  engine/Assets/Scripts/UI/NavigationBar.cs
  engine/Assets/Scripts/UI/Panels/Variants/AddPanel/AddItem.cs
  engine/Assets/Scripts/UI/Panels/Variants/UpdatePromptPanel.cs
  engine/Assets/Scripts/UI/SynthesisAssetCollection.cs
  engine/EngineDeps/EngineDeps.csproj
  engine/EngineDeps/setup.bat
  engine/EngineDeps/setup.sh
  engine/Packages/manifest.json
  engine/Packages/packages-lock.json
  engine/ProjectSettings/Packages/com.unity.services.core/Settings.json
  engine/ProjectSettings/ProjectSettings.asset
  engine/ProjectSettings/UnityConnectSettings.asset
Labels: engine

#883 Multiplayer robot selection
  .gitignore
  api/Api/Aether/Lobby/LobbyClient.cs
  api/Api/Aether/Lobby/LobbyServer.cs
  engine/Assets/Scripts/Modes/Aether.meta
  engine/Assets/Scripts/Modes/Aether/ConnectToMultiplayerMode.cs
  engine/Assets/Scripts/Modes/Aether/ConnectToMultiplayerMode.cs.meta
  engine/Assets/Scripts/Modes/Aether/ServerHostingMode.cs
  engine/Assets/Scripts/Modes/Aether/ServerHostingMode.cs.meta
  engine/Assets/Scripts/Modes/Aether/ServerTestMode.cs
  engine/Assets/Scripts/Modes/Aether/ServerTestMode.cs.meta
  engine/Assets/Scripts/UI/Dynamic/Modals/Aether.meta
  engine/Assets/Scripts/UI/Dynamic/Modals/Aether/ConnectToMultiplayerModal.cs
  engine/Assets/Scripts/UI/Dynamic/Modals/Aether/ConnectToMultiplayerModal.cs.meta
  engine/Assets/Scripts/UI/Dynamic/Modals/Aether/ServerHostingModal.cs
  engine/Assets/Scripts/UI/Dynamic/Modals/Aether/ServerHostingModal.cs.meta
  engine/Assets/Scripts/UI/Dynamic/Modals/Configuring/ChooseModeModal.cs
  engine/Assets/Scripts/UI/Dynamic/Modals/Testing/ServerTestModal.cs
  engine/Assets/Scripts/WebSockets/WebSocketManager.cs
  protocols/v1/server/LobbyConnection.proto
  protocols/v1/server/ServerData.proto
Labels: engine, api

#888 Client Side Ghost Bot
  api/Api/Aether/Lobby/LobbyClient.cs
  api/Api/Aether/Lobby/LobbyServer.cs
  api/Api/Aether/Proto/ServerTransformData.cs
  api/Api/Simulation/Driver.cs
  api/Api/Simulation/SimObject.cs
  api/Api/Simulation/SimulationManager.cs
  engine/Assets/Scripts/Modes/Aether/ServerTestMode.cs
  engine/Assets/Scripts/SimObjects/RobotSimObject.cs
  engine/Assets/Scripts/SimulationRunner.cs
Labels: engine, api

#848 Fake Arm Control
  engine/Assets/Scripts/Behaviors/GeneralSliderBehaviour.cs
  engine/Assets/Scripts/Drivers/RotationalDriver.cs
  engine/Assets/Scripts/Importer/Importer.cs
  engine/Assets/Scripts/Importer/MirabufLive.cs
  engine/Assets/Scripts/SimObjects/RobotSimObject.cs
Labels: enhancement, engine

#886 Field Data Storage
  engine/Assets/Scripts/Importer/Importer.cs
  engine/Assets/Scripts/Importer/MirabufCache.cs
  engine/Assets/Scripts/Importer/MirabufCache.cs.meta
  engine/Assets/Scripts/Importer/MirabufLive.cs
  engine/Assets/Scripts/Modes/ModeManager.cs
  engine/Assets/Scripts/PreferenceManager/SimulationPreferences.cs
  engine/Assets/Scripts/Scoring/ScoringZone.cs
  engine/Assets/Scripts/SimObjects/FieldSimObject.cs
  engine/Assets/Scripts/SimObjects/RobotSimObject.cs
  engine/Assets/Scripts/SimulationRunner.cs
  engine/Assets/Scripts/UI/Dynamic/Modals/Configuring/ChooseModeModal.cs
  engine/Assets/Scripts/UI/Dynamic/Panels/Configuring/Scoring/ScoringZonesPanel.cs
  engine/Assets/Scripts/UI/Dynamic/Panels/Configuring/Scoring/ZoneConfigPanel.cs
  engine/ProjectSettings/GraphicsSettings.asset
Labels: enhancement, engine

#879 Exporter Fixes No. 1
  api/Api/Mirabuf/Appearance.cs
  engine/Assets/Scripts/Scoring/ScoringZone.cs
  exporter/SynthesisFusionAddin/proto/build.bat
  exporter/SynthesisFusionAddin/proto/build.sh
  exporter/SynthesisFusionAddin/proto/deps.py
  exporter/SynthesisFusionAddin/src/Parser/SynthesisParser/Materials.py
  exporter/SynthesisFusionAddin/src/Parser/SynthesisParser/Parser.py
  exporter/SynthesisFusionAddin/src/Resources/AutoCalcWeight_icon/32x32-normal.png
  exporter/SynthesisFusionAddin/src/UI/ConfigCommand.py
  protocols/proto_compile.bat
  protocols/proto_compile.sh
Labels: fusion

#890 Gradient Images
  engine/Assets/Materials/Shaders/ImageGradient.meta
  engine/Assets/Materials/Shaders/ImageGradient/ImageGradient.shader
  engine/Assets/Materials/Shaders/ImageGradient/ImageGradient.shader.meta
  engine/Assets/Materials/Shaders/ImageGradient/SDFUtils.cginc
  engine/Assets/Materials/Shaders/ImageGradient/SDFUtils.cginc.meta
  engine/Assets/Materials/Shaders/ImageGradient/ShaderSetup.cginc
  engine/Assets/Materials/Shaders/ImageGradient/ShaderSetup.cginc.meta
  engine/Assets/Prefabs/ModalsDYN/UIComponents/button-base.prefab
  engine/Assets/Prefabs/ModalsDYN/UIComponents/content-base.prefab
  engine/Assets/Prefabs/ModalsDYN/UIComponents/dropdown-base.prefab
  engine/Assets/Prefabs/ModalsDYN/UIComponents/input-field-base.prefab
  engine/Assets/Prefabs/ModalsDYN/UIComponents/labeled-button-base.prefab
  engine/Assets/Prefabs/ModalsDYN/UIComponents/labeled-dropdown-base.prefab
  engine/Assets/Prefabs/ModalsDYN/UIComponents/number-input-field-base.prefab
  engine/Assets/Prefabs/ModalsDYN/UIComponents/scroll-view-base.prefab
  engine/Assets/Prefabs/ModalsDYN/UIComponents/slider-base.prefab
  engine/Assets/Prefabs/ModalsDYN/dynamic-modal-base.prefab
  engine/Assets/Prefabs/ModalsDYN/dynamic-panel-base.prefab
  engine/Assets/Scenes/MainScene.unity
  engine/Assets/Scripts/Modes/PracticeMode.cs
  engine/Assets/Scripts/UI/Dynamic/DynamicUIComponents.cs
  engine/Assets/Scripts/UI/Dynamic/DynamicUIManager.cs
  engine/Assets/Scripts/UI/Dynamic/MainHUD.cs
  engine/Assets/Scripts/UI/Dynamic/Modals/Configuring/RioConfig/RCCreateDeviceModal.cs
  engine/Assets/Scripts/UI/Dynamic/Modals/Configuring/RioConfigurationModal.cs
  engine/Assets/Scripts/UI/Dynamic/Modals/Configuring/ThemeEditor/EditThemeModal.cs
  engine/Assets/Scripts/UI/Dynamic/Panels/Configuring/ConfigureGamepiecePickupPanel.cs
  engine/Assets/Scripts/UI/Dynamic/Panels/Configuring/ConfigureShotTrajectoryPanel.cs
  engine/Assets/Scripts/UI/Dynamic/Panels/Configuring/Scoring/ZoneConfigPanel.cs
  engine/Assets/Scripts/UI/Dynamic/Panels/RobotSwitchPanel.cs
  engine/Assets/Scripts/UI/Dynamic/Panels/Simulation/DriverStationPanel.cs
  engine/Assets/Scripts/UI/Dynamic/Panels/SpawnLocationPanel.cs
  engine/Assets/Scripts/UI/GradientImageUpdater.cs
  engine/Assets/Scripts/UI/GradientImageUpdater.cs.meta
  engine/Assets/Scripts/Utilities/ColorManager/ColorManager.cs
  engine/Assets/Scripts/Utilities/ColorManager/DefaultColors.cs
  engine/ProjectSettings/GraphicsSettings.asset
Labels: engine

#894 Double Counted Scoring
  engine/Assets/Scripts/Modes/MatchMode/MatchMode.cs
  engine/Assets/Scripts/Modes/PracticeMode.cs
Labels: bug

#875 Configuration Mode
  api/Api/Mirabuf/SimpleMotor.cs
  engine/Assets/Scripts/Drivers/LinearDriver.cs
  engine/Assets/Scripts/Drivers/RotationalDriver.cs
  engine/Assets/Scripts/Drivers/WheelDriver.cs
  engine/Assets/Scripts/Gizmos/MoveArrow.cs
  engine/Assets/Scripts/Importer/Importer.cs
  engine/Assets/Scripts/Modes/MatchMode/MatchMode.cs
  engine/Assets/Scripts/Modes/PracticeMode.cs
  engine/Assets/Scripts/SimObjects/RobotSimObject.cs
  engine/Assets/Scripts/UI/Dynamic/DynamicUIComponents.cs
  engine/Assets/Scripts/UI/Dynamic/DynamicUIManager.cs
  engine/Assets/Scripts/UI/Dynamic/MainHUD.cs
  engine/Assets/Scripts/UI/Dynamic/Modals/Configuring/ChangeDrivetrainModal.cs
  engine/Assets/Scripts/UI/Dynamic/Modals/Configuring/ChangeInputsModal.cs
  engine/Assets/Scripts/UI/Dynamic/Modals/Configuring/ConfigMotorModal.cs
  engine/Assets/Scripts/UI/Dynamic/Modals/Configuring/ConfigMotorModal.cs.meta
  engine/Assets/Scripts/UI/Dynamic/Modals/Configuring/ConfiguringModal.cs
  engine/Assets/Scripts/UI/Dynamic/Modals/Configuring/RioConfigurationModal.cs
  engine/Assets/Scripts/UI/Dynamic/Panels/Configuring/ConfigureGamepiecePickupPanel.cs
  engine/Assets/Scripts/UI/Dynamic/Panels/Configuring/ConfigureShotTrajectoryPanel.cs
  engine/Assets/Scripts/UI/Dynamic/Panels/SpawnLocationPanel.cs
Labels: engine

#891 Toast System
  engine/Assets/Materials/Shaders/ImageGradient/ImageGradient.shader
  engine/Assets/Prefabs/AssetCollection.prefab
  engine/Assets/Prefabs/ToastLogger.meta
  engine/Assets/Prefabs/ToastLogger/Toast.prefab
  engine/Assets/Prefabs/ToastLogger/Toasts.prefab
  engine/Assets/Prefabs/ToastLogger/Toasts.prefab.meta
  engine/Assets/Scenes/GridMenuScene.unity
  engine/Assets/Scenes/MainScene.unity
  engine/Assets/Scripts/Modes/PracticeMode.cs
  engine/Assets/Scripts/UI/Dynamic/DynamicUIComponents.cs
  engine/Assets/Scripts/UI/Dynamic/DynamicUIManager.cs
  engine/Assets/Scripts/UI/Dynamic/Modals/ToastModal.cs
  engine/Assets/Scripts/UI/Dynamic/Toaster.cs
  engine/Assets/Scripts/UI/Dynamic/Toaster.cs.meta
  engine/Assets/Scripts/UI/ToastLogger/ToastConfig.cs
  engine/Assets/Scripts/UI/ToastLogger/ToastLogger.cs
  engine/Assets/Scripts/UI/ToastLogger/ToastManager.cs
  engine/Assets/Scripts/Utilities/Tween.meta
  engine/Assets/Scripts/Utilities/Tween/SynthesisTween.cs
  engine/Assets/Scripts/Utilities/Tween/SynthesisTween.cs.meta
Labels: enhancement, engine

#900 CEF Windows build setup
  cef/build.bat
  cef/cef/CMakeLists.txt
  cef/cef/shared/CMakeLists.txt
  cef/cef/shared/inc/resource_util.h
  cef/cef/standalone/src/main_minimal.cpp
Labels: cef

#893 Main HUD Improvements
  engine/Assets/Prefabs/AssetCollection.prefab
  engine/Assets/Prefabs/HUD/MainHUD.prefab
  engine/Assets/Prefabs/HUD/hud-drawer-item-base.prefab
  engine/Assets/Scenes/MainScene.unity
  engine/Assets/Scripts/Modes/PracticeMode.cs
  engine/Assets/Scripts/SimObjects/RobotSimObject.cs
  engine/Assets/Scripts/UI/Dynamic/DynamicUIComponents.cs
  engine/Assets/Scripts/UI/Dynamic/DynamicUIManager.cs
  engine/Assets/Scripts/UI/Dynamic/MainHUD.cs
  engine/Assets/Scripts/UI/Dynamic/Modals/Configuring/ChangeInputsModal.cs
  engine/Assets/Scripts/UI/Dynamic/Modals/Configuring/ThemeEditor/DeleteAllThemesModal.cs
  engine/Assets/Scripts/UI/Dynamic/Modals/ExitSynthesisModal.cs
  engine/Assets/Scripts/UI/Dynamic/Modals/Spawning/AddFieldModal.cs
  engine/Assets/Scripts/UI/Dynamic/Modals/Spawning/AddRobotModal.cs
  engine/Assets/Scripts/UI/Dynamic/Modals/Spawning/SpawningModal.cs
  engine/Assets/Scripts/UI/Dynamic/Panels/RobotSwitchPanel.cs
  engine/Assets/Scripts/UI/Dynamic/Panels/SpawnLocationPanel.cs
  engine/Assets/Scripts/UI/GradientImageUpdater.cs
  engine/Assets/Scripts/Utilities/ColorManager/ColorManager.cs
  engine/Assets/Scripts/Utilities/ColorManager/DefaultColors.cs
  engine/Assets/Scripts/Utilities/Tween/SynthesisTween.cs
  engine/Assets/Sprites/Main HUD.meta
  engine/Assets/Sprites/Main HUD/download.png
  engine/Assets/Sprites/Main HUD/download.png.meta
  engine/Assets/Sprites/Main HUD/driverstation.png
  engine/Assets/Sprites/Main HUD/driverstation.png.meta
  engine/Assets/Sprites/Main HUD/drivetrain.png
  engine/Assets/Sprites/Main HUD/drivetrain.png.meta
  engine/Assets/Sprites/Main HUD/home.png
  engine/Assets/Sprites/Main HUD/home.png.meta
  engine/Assets/Sprites/Main HUD/multibot.png
  engine/Assets/Sprites/Main HUD/multibot.png.meta
  engine/Assets/Sprites/Main HUD/plus.png
  engine/Assets/Sprites/Main HUD/plus.png.meta
  engine/Assets/Sprites/Main HUD/roborio.png
  engine/Assets/Sprites/Main HUD/roborio.png.meta
  engine/Assets/Sprites/Main HUD/search.png
  engine/Assets/Sprites/Main HUD/search.png.meta
  engine/Assets/Sprites/Main HUD/settings.png
  engine/Assets/Sprites/Main HUD/settings.png.meta
  engine/Assets/Sprites/Main HUD/xbox_controller.png
  engine/Assets/Sprites/Main HUD/xbox_controller.png.meta
  engine/Assets/Sprites/accordion.png
  engine/Assets/Sprites/accordion.png.meta
Labels: engine

#895 Audio Manager Destroyed
  engine/Assets/Scripts/AudioManager.cs
  engine/Assets/Scripts/Modes/MatchMode/MatchMode.cs
  engine/Assets/Scripts/Modes/PracticeMode.cs
Labels: bug

#898 Update Clang Format action to use clang-format-16
  .github/workflows/ClangFormat.yml
  scripts/format/format_validation.py
Labels: enhancement

#902 More api nullable warnings
  .github/workflows/API.yml
  api/Api/AssetManager/AudioClipAsset.cs
  api/Api/EnvironmentManager/Components/BundleMarker.cs
  api/Api/EnvironmentManager/Components/Joints.cs
  api/Api/EventBus/Analytics.cs
  api/Api/EventBus/EventBus.cs
  api/Api/InputManager/Inputs.cs
  api/Api/Mirabuf/Appearance.cs
  api/Api/Modules/Attributes/BuiltInAttribute.cs
  api/Api/Simulation/SimulationManager.cs
  api/Api/UIManager/StyleSheet.cs
  api/Api/UIManager/StyleSheetManager.cs
  api/Api/UIManager/TooltipManipulator.cs
  api/Api/UIManager/UIComponents/Panel.cs
  api/Api/UIManager/UIComponents/Tab.cs
  api/Api/UIManager/UIManager.cs
  api/Api/UIManager/UIParser.cs
  api/Api/UIManager/VisualElements/Button.cs
  api/Api/UIManager/VisualElements/TextField.cs
  api/Api/Utilities/UnityResyncer.cs
Labels: api

#904 `clang-format` action fix
  .github/workflows/ClangFormat.yml
  scripts/format/README.md
Labels: bug, hotfix

#903 Gradient Angle
  engine/Assets/Materials/Shaders/ImageGradient/ImageGradient.shader
  engine/Assets/Scripts/UI/Dynamic/DynamicUIComponents.cs
  engine/Assets/Scripts/UI/Dynamic/MainHUD.cs
  engine/Assets/Scripts/UI/GradientImageUpdater.cs
Labels: engine
